﻿<%@ Page Title="Top Up" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="TopUp.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.TopUp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
Top Up Pre-paid
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
<iframe src="<%= TopUpIFrameSrc %>" width="100%" ></iframe>
<script language="javascript" type="text/javascript">
    function DoStuff() {
        alert('done');
    }

</script>
</asp:Content>
