﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookRecentActivity.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Social.FacebookRecentActivity" %>
<%--<img src="/Tmp/Images/DStvOnlineControls/fb_activity-holder.jpg" alt="Facebook Recent Activity" />--%>
<br />
<asp:Literal ID="lblFb" runat="server"></asp:Literal>