﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookComments.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Social.FacebookComments" %>
<%--<img src="/tmp/Images/DStvOnlineControls/fb_comments-holder.jpg" width="541" height="265" title="// TODO: DStv Online Team" alt="// TODO: DStv Online Team" style="border-style:none;" />--%>
<asp:Literal ID="lblFb" runat="server"></asp:Literal>