﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FacebookLike.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Social.FacebookLike" %>
<%--<img src="/tmp/Images/DStvOnlineControls/fb_likeBTN.png" width="140" height="34" title="// TODO: DStv Online Team" alt="// TODO: DStv Online Team" style="border-style:none;" />--%>
<asp:Literal ID="lblFb" runat="server"></asp:Literal>