.expDateValue
{
    visibility: hidden;
}

.expDateAll
{
	color:#005e9b;
	padding-right: 15px;
}

.pagerButton 
{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
	padding: 1px 4px;
	margin:2px;
	font-weight:normal;
	color:#444;
	border:1px solid #cccccc;
	font-size:12px;
}
.pagerButton[disabled]
{
    cursor: default;
    border-style: none;
    background-color: transparent;
    padding: 1px 4px;
	margin:2px;
	font-weight:normal;
	color:#444;
	font-size:12px;
}
.pagerButton:hover 
{
	border-style: none;
    cursor: pointer;
	background-color:#444;
	color:#fff;
	border:1px solid #cccccc;
	margin:2px;
	text-decoration:none;
	font-weight:normal;
}
.pagerButton[disabled]:hover
{
    cursor: default;
    border-style: none;
    background-color: transparent;
    padding: 1px 4px;
	margin:2px;
	font-weight:normal;
	color:#444;
	font-size:12px;
}

/* Modal Popup */

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait; z-index:3000;}

/* Container */
#simplemodal-container {color:Black; background-color:transparent; padding:12px; height: 500px; z-index:3001;}

.modalPopup 
{
	background-color:white;
	border-width:1px;
	border-style:solid;
	border-color:Gray;
	z-index: 10001;
	margin: 0 auto;
}

.modalBackground {
	/*filter:alpha(opacity=70);
	opacity:0.7;*/
}







/* ------ PAGING --------*/
.paging-ext{
	width:100%;
	float: right;
	color:#c1c1c1;
	padding-bottom:2px;
	font-size:12px;
	text-align:right;
}

.paging-ext a.page_down {
	background-color:#1d1d1d;
	padding: 1px 5px;
	margin:1px;
	font-weight:normal;
	color:#2aabe4;
	border:1px solid #6c6c6c;
	font-size:12px;
	cursor: hand;
}
.paging-ext a.page_down:hover {
	background-color:#1d1d1d;
	color:#fff;
	border:1px solid #fff;
	margin:1px;
	text-decoration:none;
	font-weight:normal;
	cursor: hand;
}
.paging-ext a.page_up {
	background-color:#5b5b5b;
	border:1px solid #5b5b5b;
	padding: 1px 5px;
	margin:2px;
	font-weight:normal;
	color:#fff;
	font-size:12px;
}
.paging-ext a.page_up:hover {
	background-color::#5b5b5b;
	padding: 1px 5px;
	margin:2px;
	font-weight:normal;
	color:#fff;
	font-size:12px;
	text-decoration:none;
}

/*----- Rental List -----*/
.rentalPager{
	background:url(/App_Themes/OnDemand/images/topList_bg.jpg) repeat-x top #f3f3f3;
	border-bottom:1px solid #ebebeb;
	width:605px;
	padding:5px 10px;
	color:#585858;
	float:left;
	margin-bottom:20px;
}

.rentalList{
	width:605px;
	margin:0;
}

.rentalListHdr
{
	padding-left: 5px;
    text-align: left;
    padding-bottom: 2px;
}

.rentalListItem
{
	padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: Black;
    border-bottom:1px solid #f0f0f0;
    height: 20px;
}

.rentalListItemExpired
{
	padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: Gray;
    border-bottom:1px solid #f0f0f0;
    height: 20px;
}

a.rentalExpired
{
	text-decoration:none;
	font-weight:normal;
	color: Gray;
}

a.rentalExpired:hover
{
	text-decoration:underline;
	font-weight:normal;
	color: Gray;
}


.topList a.listItemExpired {	
	display: block;
	color:Gray;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	width:280px;
	height:15px;
	padding: 5px 10px;
}

.topList a.listItemExpired:hover {
	text-decoration:underline;
	color:Gray;
}

.topList .listDescExpired{
	width:200px;
	float:left;
	overflow:hidden;
	margin:0 5px;
}

.inputBoxesPIN{
	padding:5px;
	background-color:#d9d9d9;
	overflow:hidden;
	margin:5px 0;
	float: left;
}

.payErrorHead
{
	font-size:14px;
	color:#E10000;
	line-height:normal;
}

/* ----- General styles -------- */
.block450{
	width:450px;
	margin:0 10px;
	float:left;
}

/*---------- TOP 5 TOP 10 LISTING STYLES ------------*/
.topList450{
	float:left;
	width:450px;
	margin:0;
}

.topList450 ul {margin: 0;padding: 0;list-style-type: none;}
.topList450 li {margin: 0;padding: 0;float: left; border-bottom:1px solid #f0f0f0;}
.topList450 li {background:#fff none;}
.topList450 a.listItem {	
	display: block;
	color:#0175b2;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	width:435px;
	height:15px;
	padding: 5px 10px;
}
.topList450 a.listItem:hover {
	background: url(images/topList_bg.jpg) repeat-x bottom;
	text-decoration:none;
	color:#454545;
}

.topList450 .iconArrow-boxOffice{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-boxOffice.png) no-repeat;
}

.topList450 .iconArrow-catchUp{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-catchUp.png) no-repeat;
}

.topList450 .iconArrow-openTime{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-openTime.png) no-repeat;
}

.topList450 .expTextHdr-ext{
	float:right;
	font-size:11px;
	color:#999;
	margin-right: 10px;
}

.topList450 .listDesc-ext{
	
	float:left;
	overflow:hidden;
	margin:0 5px;
}
.topList450 .expDate-ext{
	float:right;
	width:55px;
	font-size:11px;
	text-align: right;
}
.topList450 .expDateRental{
	float:right;
	width:55px;
	font-size:11px;
	text-align: right;
}


.pageTitle
{
	text-transform:uppercase;
}

.topList .iconArrow-boxOffice{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-boxOffice.png) no-repeat;
}

.topList .iconArrow-catchUp{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-catchUp.png) no-repeat;
}

.topList .iconArrow-openTime{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-openTime.png) no-repeat;
}

.topList .expTextHdr-ext{
	float:right;
	font-size:11px;
	color:#999;
	margin-right: 10px;
}

.topList .listDesc-ext{
	width:200px;
	float:left;
	overflow:hidden;
	margin:0 5px;
}
.topList .expDate-ext{
	float:right;
	width:55px;
	font-size:11px;
	text-align: right;
}
.topList .expDateRental{
	float:right;
	width:55px;
	font-size:11px;
	text-align: right;
}

.vid-thumb
{
	width:140px;
	height:80px;
	border-style:none;
}

.thumb-show{
	width:140px;
	height:80px;
	margin:0 10px 8px 0;
}

.latestItem-ext{
	float:left;
	
	width:100%;
	overflow: hidden;
}

.OD_item_sep_H-ext{
	width:100%;
	max-width:463px;
	background-color:#2f2f2f;
	border: 1px solid #5c5c5c;
	position:absolute;
	padding:2px 6px 5px 4px;
	z-index:4;
	margin-top:-3px;
	margin-left:-5px;
}

.item_moreOL-ext {
       margin-bottom:25px;
       max-width:142px;
       background-color: #2f2f2f;
       border: 1px solid #5c5c5c;
       position:absolute;
       padding-bottom:5px;
       padding:3px 4px 5px 6px;
       margin-left:-7px;
       margin-top:-4px;
       z-index:2996;
}
 
.item_moreOL_R-ext, .item_moreOL_E-ext {
       margin-bottom:25px;
       max-width:150px;
       background-color: #2f2f2f;
       border: 1px solid #5c5c5c;
       position:absolute;
       padding-bottom:5px;
       padding-top:1px;
       padding-left:6px;
       padding-right:4px;
       margin-left:-7px;
       margin-top:-2px;
       z-index:4;
}

 
 .item_moreOL_E-ext
 {
 max-width:478px;
 }
 
.browntxt-ext 
{
        background-color:#2F2F2F;
        color:#C1C1C1;
         line-height:15px;
         z-index:3000;
}