/* DSTV ON DEMAND STYLES */

/* -------------------- HEADER BEGIN -------------------- */
#headContainer{
    position: relative;
	width:980px;
	margin: 0 auto;
	
}
#headContainer a.dstvLogo {
  position: absolute;
  z-index:2000;
}
#headContainer a.dstvLogo img {
  border-style: none;
  z-index:2000;
}


.global_header{
	width:100%;	
}
.global_header .headerContent {
	width:980px;
	height:118px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	background:url(images/headerbg.jpg) repeat-x top;
}
/* ----- TOP ROW BEGIN (including breadcrumb and login elements) ----- */
.toprow{
	width:980px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	padding-bottom:2px;
	padding-top:2px;
	height:32px;
}
.toprow .breadcrumbs{
	float:left;
	font-size:12px;
	font-weight:normal;
	color:#ffffff;
	padding-bottom:6px;
	padding-top:10px;
	position:relative;
}
.toprow .breadcrumbs a{
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
	color:#2aabe4;
	padding-right:10px;
	background:url(images/arrow_breadcrumb.gif) no-repeat center right;
	margin-right:2px;
}
.toprow .breadcrumbs a:hover{
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
.toprow .logreg{
                color:#c1c1c1;
                float:right;
                font-size:12px;
                padding-top:7px;
                margin-right:10px;
                vertical-align:top;
}

.toprow input.logBox{
	width:110px;
	height:14px;
	border:1px solid #3491c1;
	font-size:11px;
	margin:0;
}
/* RICH 10802010 */
a.smlLink{
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#0175b2;
}
a.vsmlLink{
	font-family:arial;
	font-size:9px;
	font-weight:normal;
	color:#0175b2;
	line-height:10px;
}
.blueSep{
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	color:#0175b2;
}
.userName{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#444444;
}
.logError{
	font-family:arial;
	font-size:10px;
	font-weight:normal;
	color:#d50000;
}

/* ----- TOP ROW END ----- */
.toplogo{
	float:left;
    margin:26px 30px 20px 30px;
}
.leaderBoard{
	float:left;
	width:728px;
	padding-top:14px;
}

/* ----- NAV BEGIN ----- */
.global_header .global_nav{
	width:980px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background:url(images/main_nav_bg.gif) repeat-x top;
	/*border-bottom:1px solid #015c8c;*/
	border-top:1px solid TLEMENT;
	z-index:1;
}
/* ----- NAV END ----- */
/* -------------------- HEADER END -------------------- */

/* -------------------- BODY ELEMENTS BEGIN -------------------- */
.global_wrapper{
	width:980px;
	margin:0 auto;
	position: relative;
	padding: 0;
	background:url(images/homebg-CU.png) repeat-x transparent top;
	min-height:350px;
}
.block980{
	width:980px;
	margin:0;
	float:left;
}
.block980_bg{
	width:980px;
	margin:0;
	float:left;
	/*background:url(images/home_bg.jpg) repeat-x #000 top;*/
	border-bottom:1px solid #313131;
}

.block960{
	width:915px;
	margin:0;
	float:left;
	padding-left:34px;
	padding-top:20px;
	overflow: hidden;
}

.block620{
	width:620px;
	margin:0 20px;
	float:left;
	position: relative;
	display:block;
	color:#c1c1c1;
	
}

.block640home{
	width:640px;
	margin:0px;
	float:left;
	position: relative;
	display:block;
}

.block620vidrow{
	width:620px;
	margin:0px;
	float:left;
	background:url(images/block640homebg.png) repeat-x;
	overflow:visible;
}

.block580{
	width:580px;
	margin:0 20px;
	float:left;
	position: relative;
	display:block;	
	
}

.block300_left{
	width:300px;
	margin-right:20px;
	float:left;
}
.block460_left{
	width:460px;
	margin-right:20px;
	float:left;
}
.block460{
	width:460px;
	margin:0 10px;
	float:left;
}
.block460_right{
	width:460px;
	margin-right:20px;
	float:right;
}
.block460_right{
	width:460px;
	margin-right:20px;
	float:right;
}
.block300{
	width:300px;
	margin:0 10px;
	float:left;
	color:#c1c1c1;
}

.block300_right{
	width:300px;
	margin-right:20px;
	float:right;
	padding-top:10px;
	color:#c1c1c1;
}
.od_head{
	float:left;
	width:100%;
}
.ODbty{
	float:right;
	text-align:hand;
	vertical-align:bottom;
}
.ODflash{
	width:620px;
	height:272px;
	padding:3px 0;
	background: url(images/OnDemand_flsh_bb_bg.jpg) repeat-x;
}
.dstvflash{
	float:left;
	width:660px;
}

/*-------- PROMO NEXT TO FLASH ON DEMAND HOME PAGE -----------*/
.promo{
	float:left;
	width:300px;
	margin-top:40px;
	color:#fff;
	font-size:12px;
	
}
.promo .hdr{
	font-size:28px;
	margin-bottom:13px;
	float:left;
	line-height:34px;
	font-weight: normal;
}
.promo .promoList{
	float:left;
	width:100%;
}
.promo .promoList ul{
	margin:0 0 0 5px;
	list-style-type: none;
}
.promo .promoList li {
	margin: 0 0 10px 10px;
	padding: 0;
	list-style-type:disc;
}
.promo a.catchUp{
	color:#33ccff;
	text-decoration:none;
}
.promo a.catchUp:hover{
	color:#127eb7;
	text-decoration:none;
}
.promo a.boxOffice{
	color:#5cb75c;
	text-decoration:none;
}
.promo a.boxOffice:hover{
	color:#278942;
	text-decoration:none;
}
.promo a.openTime{
	color:#ffcc00;
	text-decoration:none;
}
.promo a.openTime:hover{
	color:#c8a207;
	text-decoration:none;
}



/*RICH - 09-08-2010*/
/* ONDEMAND INFO PAGES */
.divLeft400{
	float:left;
	width:400px;
}
.divRight150{
	float:left;
	padding-left:20px;
	width:190px;
}
.divRight150 .greyBox{
	background-color:#f7f8fa;
	border:1px solid #d7d7d7;
	margin-bottom:5px;
	margin-top:5px;
	padding-bottom:20px;
	padding-top:15px;
	text-align:center;
	font-size:14px;
	color:#444;
	width:100%;
}

a {
	font-size:12px;
	color:#2aabe4;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
}
a:hover {
	color:#ffffff;
	text-decoration:underline;
}

.headerContent .DOD_topLogin{
	float:right;
	margin:10px 0;
	width:100%;
	text-align:right;
	font-weight:bold;
	color:#0175b2;
}
.headerContent .DOD_logo{
	float:left;
	width:166px;
	height:62px;
	margin:15px 24px 29px 21px;
}
.DOD_nav{
	width:980px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: url(images/DOD_nav_bg.gif) repeat-x top #016da4;
	z-index:1;
}
.DOD_nav .search{
	float:right;
	width:240px;
	height:22px;
	padding:5px 3px 5px 18px;
}

/*------------- DISH DAILY SEARCH STYLES ---------------- */
.dd{
	background:url(images/BB_search_bg.jpg) repeat-y;
	width:590px;
	padding:0 15px 15px 15px;
	color:#fff;
}
.dd .dd_logo{
	width:145px;
	height:40px;
	float:left;
}
.dd .dd_icons{
	float:right;
	width:323px;
	border-bottom:1px solid #fff;
	padding:7px 0 7px 120px;
	text-align:right;
}
.dd_icons a{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
.dd_icons a:hover{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-decoration: underline;
}
.dd .dd_dropDown{
	border:1px solid #125b89;
	display:block;
	color:#000;
	width:140px;
}
.dd .searchInput{
	width:180px;
	border:1px solid #125b89;
	color:#000;
	height:15px;
	margin-left:24px;
}

/* ------------------ CATEGORY TAB STYLES ----------------- */
.tabs {
	width:100%;
	background-image: none;	padding: 0; 
	clear:both;
	overflow:hidden;
	background-color:#0298b9;
	float:left;
}
.tabs ul {margin: 0;padding: 0;list-style-type: none;}
.tabs li {margin: 0;padding: 0;float: left;}
.tabs li {background:#fff none;text-align: center;}
.tabs a.up {
	display: block;
	background-color:#f5f5f5;
	padding: 7px 11px 8px 11px;
	color:#000;
	font-size:12px;
	text-decoration:none;
	border-top:3px solid #fff;
	font-weight:normal;
}
.tabs a.down {	
	display: block;
	background-color:#0298b9;
	padding: 9px 11px 8px 11px;
	background-repeat: repeat-x;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}
.tabs a.down:hover {
	background-color: #026f92;
	text-decoration:none;
}

/* ----------------- NEWS ITEM STYLES -------------- */
.item{
	width:100%;
	display:block;
	margin: 0px 0px 0px 0px;
	padding:0;
	float:left;
}
.item .thumb{
	width:110px;
	height:83px;
	margin-right:10px;
}
.item .title a{
	font-size:14px;
	font-weight:bold;
	color:#005fa6;
	text-decoration:none;
	line-height:18px;
}
.item .title a:hover{
	font-size:14px;
	font-weight:bold;
	color:#005fa6;
	text-decoration: underline;
}
.item2 {
	width:100%;
	display:block;
	margin: 0px 0px 20px 10px;
	padding:0;
	float:left;
}
.item2 .thumb{
	width:110px;
	height:83px;
	margin-right:10px;
}
.item2 .title a{
	font-size:14px;
	font-weight:bold;
	color:#005fa6;
	text-decoration:none;
	line-height:18px;
}
.item2 .title a:hover{
	font-size:14px;
	font-weight:bold;
	color:#005fa6;
	text-decoration: underline;
}
.item2 .chnl{
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:3px 0 2px 0;
}
.item2 .time{
	font-size:11px;
	font-weight:bold;
	color:#333;
}
.item2 .info{
	font-size:12px;
	color:#626262;
	line-height:15px;
	padding:5px 0;
}
.item2 .icons{
	font-size:11px;
	font-weight:bold;
}
.item .chnl{
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:3px 0 2px 0;
}
.item .time{
	font-size:11px;
	font-weight:bold;
	color:#333;
}
.item .detail{
	font-size:11px;
	font-weight:normal;
	color:#333;
	padding-bottom:4px;
	line-height:13px;
}
.item .info{
	font-size:12px;
	color:#626262;
	line-height:15px;
	padding:5px 0;
}
.item .icons{
	font-size:11px;
	font-weight:bold;
}
.icons .more a{
	font-size:11px;
	font-weight:bold;
	color:#125dc2;
	text-decoration:none;
}
.icons .more a:hover{
	font-size:11px;
	font-weight:bold;
	color:#125dc2;
	text-decoration: underline;
}
.icons .remind a{
	font-size:11px;
	font-weight:bold;
	color:#626262;
	text-decoration:none;
}
.icons .remind a:hover{
	font-size:11px;
	font-weight:bold;
	color:#626262;
	text-decoration: underline;
}

/* ----------------- RELATED NEWS STYLES -------------- */
.related{
	width:100%;
	float:left;
}
.related li{
	line-height:20px;
}


/* ----------------- DSTV ON DEMAND WIDGET STYLES ---------------- */
.DSTV_onDemand{
	width:288px;
	margin:0 0px 20px 0;
	float:left;
	display:block;
	border:1px solid #134471;
}
.DSTV_onDemand .tab {
	width:288px;
	background-image: none;	padding: 0; 
	clear:both;
	overflow:hidden;
	background-color:#134471;
	float:left;
}
.DSTV_onDemand .tab ul {margin: 0;padding: 0;list-style-type: none;}
.DSTV_onDemand .tab li {margin: 0;padding: 0;float: left;}
.DSTV_onDemand .tab li {background:#fff none;text-align: center;}
.DSTV_onDemand .tab a.up {
	display: block;
	background-color:#fff;
	padding:10px;
	color:#444;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
}
.DSTV_onDemand .tab a.down {	
	display: block;
	background-color:#0298b9;
	padding:10px;
	color:#FFF;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
}
.DSTV_onDemand .tab a.down:hover {
	background-color: #005e9b;
	text-decoration:none;
}


/* ------------------ MOST POPULAR WIDGET STYLES -------------- */
.mostPop{
	width:288px;
	margin-bottom:20px;
	border:1px solid #dedede;
	float:left;
}
.mostPop .tabb {
	width:286px;
	background-image: none;	padding: 0; 
	clear:both;
	overflow:hidden;
	background-color:#e1e1e1;
	float:left;
	border-right:2px solid #fff;
	border-top:2px solid #fff;
}
.mostPop .tabb ul {margin: 0;padding: 0;list-style-type: none;}
.mostPop .tabb li {margin: 0;padding: 0;float: left;}
.mostPop .tabb li {background:#fff none;text-align: center;}
.mostPop .tabb a.up {
	display: block;
	background-color:#fff;
	padding:10px 9px;
	color:#444;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	
}
.mostPop .tabb a.down {	
	display: block;
	background-color:#e1e1e1;
	padding:10px 9px;
	color:#444;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	border-left:2px solid #fff;
}
.mostPop .tabb a.down:hover {
	background-color: #c4c4c4;
	text-decoration:none;
	border-left:2px solid #fff;
}
/* -------------- OFFERS FOR YOU WIDGET ----------------- */
.offers{
	width:290px;
	padding:5px;
	margin-bottom:20px;
	float:left;
	display:block;
}
.offers .number{
	font-size:12px;
	color:#fff;
	background-color:#b9b9b9;
	width:15px;
	height:15px;
}



/* ------------------ TV GUIDE STYLES ------------------*/
.tvGuide_bb{
	width:100%;
	background: url(images/bb_bg.gif) repeat-x bottom #1a1a1a;
	padding:20px 0 15px 0;
	float:left;
}
.tvGuide_bb .bb_content{
	width:940px;
	margin:0 auto;
}
.hdr_chnl{
	width:100%;
	border-bottom:1px solid #d9d9d9;
	margin:10px 0;
	float:left;
}
.hdr_chnl .hdr_26px {
	margin-bottom:5px;
	font-size:26px;
	font-weight:bold;
	color:#444;
	float:left;
	line-height:25px;
}
.hdr_chnl .hdr_18px {
	margin-bottom:9px;
	font-size:18px;
	color:#444;
	float:left;
	line-height:17px;
}
.chnlLogo_sml{
	float:right;
	width:50px;
	height:33px;
}
.listSelect_search{
	width:100%;
	margin:0 10px 20px 10px;
}
.listSelect_search .listSelect{
	width:90px;
	height:16px;
	border:1px solid #4d4d4d;
	padding:1px;
	color:#fff;
	margin:15px 10px 0 0;
	float:left;
	background:url(images/dropDown_bg.gif) repeat-x #4a4a4a;
}
.listSelect .txt{
	float:left;
	margin:2px 0 1px 3px;
}
.listSelect .downArrow{
	float:right;
	width:12px;
	height:16px;
}
.hr_dark{
	height:48px;
	width:1px;
	margin-right:10px;
	float:left;
}
.listSelect_search .tvGuide_search{
	width:295px;
	float:left;
	margin-top:15px;
}
.tvGuide_searchInput {
	border:1px solid #000;
	width:238px;
	height:16px;
	color:#999;
	background:url(images/search_bg.gif) repeat-x top #fff;
	margin-right:4px;
	float:left;
}



/*---------------- TV GUIDE LIST STYLES ------------------- */
.tvGuide{
	width:620px;
	float:left;
}
.tvGuide2{
	width:620px;
	height:595px;
	float:left;
	overflow:scroll;
}
.tvGuide2 .btmshdw{
	width:605px;
	height:5px;
	float:left;
	z-index:200;
	margin-top:575px;
	background:url(images/btm_shadow.png) repeat-x bottom;
	position: absolute;
}
.Hdr_title{
	margin-bottom:5px;
	width:96%;
	padding:7px;
	font-size:14px;
	color:#444;
	background-color:#e5e5e5;
	float:left;
}
.tvGuide_item{
	width:100%;
	float:left;
	margin-bottom:10px;
	color:#626262;
}

.tvGuide_item .timeBlock{
	width:70px;
	padding:10px 5px;
	background-color:#99c8e0;
	color:#fff;
	font-size:22px;
	font-weight:bold;
	line-height:21px;
}
.timeBlock .date{
	font-size:11px;
	font-weight:normal;
}
.tvGuide_item .chnlLogo{
	width:89px;
	text-align:center;
	border-right:4px solid #99c8e0;
}
.tvGuide_item .showName{
	width:130px;
	padding:5px 10px;
	
}
.tvGuide_item .showName a{
	font-size:16px;
	font-weight:bold;
}
.showName .pgRating{
	color:#666;
	float:left;
	font-size:11px;
	margin:5px 0 0 0;
}
.tvGuide_item .list{
	width:369px;
	background:url(images/TVGuide_item_bg.gif) repeat-x top #fff;
	padding:5px;
	float:left;
	height:44px;
	font-size:11px;
	color:#626262;
}




/* ------------------------ LIST DETAILS STYLES -------------------------- */
.listDetails{
	width:270px;
	height:632px;
	overflow:scroll;
	background-color:#f7f7f7;
	padding:15px 15px 0 15px;
}
.listDetails .imgVid_holder{
	width:250px;
	height:186px;
	margin-bottom:15px;
}
.imgVid_holder .imgVid{
	margin:0;
}
a.imgVid span{
	background: url(images/listDetail_img_playBtn.png) no-repeat;
	height:186px;
	position:absolute;
	width:250px;
}
a.imgVid:hover span{
	background: url(images/listDetail_img_playBtn-over.png) no-repeat;
	height:186px;
	position:absolute;
	width:250px;
}
.block300_right .btmshdw2{
	width:285px;
	height:5px;
	float:left;
	z-index:200;
	margin-top:-20px;
	background:url(images/btm_shadow.png) repeat-x bottom;
	position: absolute;
}
/* ----------------- ITEM STYLES -------------- */
.listDetails .details{
	width:250px;
	display:block;
	margin-bottom:20px;
	padding:0;
	float:left;
}
.details .title {
	font-size:16px;
	line-height:18px;
}
.details .clipInfo{
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:3px 0 2px 0;
}
.details .vidShowInfo{
	font-size:11px;
	color:#6d6d6d;
	padding-bottom:15px;
}
.details .info{
	font-size:12px;
	color:#626262;
	line-height:15px;
	padding-bottom:15px;
}
.listDetails .actionsIcons{
	width:100%;
	margin-bottom:10px;
	float:left;
}
.actionsIcons .actions{
	padding-bottom:5px;
}
.listDetails .actions a{
	font-size:11px;
	font-weight:normal;
}
.listDetails .listHR{
	background:url(images/hr_dotline.gif) repeat-x center;
	padding-bottom:5px;
}

/* ------------------------- OMUSIC WIDGET STYLES --------------------	*/
.omusic{
	width:300px;
}

.divider{
	width:100%;
	height:1px;
	float:left;
}

/*----------------- NEW BLACK NAV STYLES -----------------*/
#nav { 
	margin:0px; 
	padding:0px; 
	position: absolute; 
	display:block;
	overflow:hidden;
	z-index:2;
} 
#nav > li { 
	list-style-type:none; 
	float:left; display:block;  
	position:relative; 
	overflow:hidden;
	max-width:120px;
	text-align:left;
}
#nav > li:hover ul { 
	display:block;
	margin:0px;
}
#nav > li:hover { background-color:#fff; }
#nav li ul { margin:0px; padding:0px; display: none;}
#nav li ul li { list-style-type:none; margin:0 20px 0 0; font-size:10px; text-align:left; padding:1px 0 1px 5px;}
#nav li ul li a { display:block; padding:4px; color:#999; text-decoration:none;}
#nav li ul li:hover a { 
	color:#fff;
	background-color:#000;
}
#nav li span { 
	cursor:pointer; 
	display: block;
}
#nav li span:hover {
	background-color: #424242;
	text-decoration:none;
	color:#fff;
}

/*----------------- DSTV ON DEMAND STYLES --------------*/
.greyBgTxt{
	display:block;
	background-color:#222222;
	padding:15px;
	margin-bottom:15px;
	float:left;
	width:270px;
}
.contactTable{
	float:left;
	text-align:center;
	margin-bottom:20px;
	width:98%;
}

.greyTbl{
	background-color:#efefef;
	padding:5px;
}

.grey26{
	font-size:26px;
	margin-bottom:15px;
	line-height:28px;
	text-align:center;
	color:#444;
	line-height:25px;
}
.grey14{
	font-size:14px;
	margin-bottom:25px;
	line-height:20px;
	text-align:center;
}
/*----------------- DSTV ON DEMAND STYLES - ADDITIONAL - RICH --------------*/
.dwnlMainTbl{
	text-align:left;
	vertical-align:top;
	width:100%;
}
.dwnlHead{
	font-family:arial;
	font-size:24px;
	line-height:28px;
	color:#565656;
	font-weight:normal;
}
.dwnlBlue{
	color:#565656;
}
.dwnl14pxText{
	font-family:arial;
	font-size:14px;
	line-height:20px;
	color:#565656;
	font-weight:normal;
}
.reqTbl{
	width:290px;
	padding:5px;
	color:#565656;
	font-size:12px;
	float:left;
	margin-bottom:20px;
	background-color:#f5f5f5;
}
.reqTbl .hdr{
	font-size:14px;
	color:#626262;
}
.reqTblUL{
	margin:12;
	padding:12;
}
.reqTblLI{
	list-style:square;
	text-align:left;
	font-size:11px;
	text-align:left;
}
.reqs{
	font-size:12px;
	font-weight:bold;
	color:#c1c1c1;
	
}
.reqsUser{
	font-size:12px;
	padding-left:18px;
	line-height:20px;
	color:#fff;
}
.dgrey{
	background-color:#666;
}
.sysDiag{
	float:left;
	text-align:center;
	margin-bottom:10px;
	margin-top:10px;
	vertical-align:top;
	width:100%;
}
.sysDiag .hdr{
	font-size:14px;
	color:#565656;
}
.sysDiagNotice{
	font-family:arial;
	color:#565656;
	font-weight:normal;
	background-color:#f6f6f6;
	padding:12px;
	text-align:left;
}
.sysDiagPass{
	font-family:arial;
	font-size:16px;
	color:#0175b2;
	font-weight:normal;
}
.sysDiagFail{
	font-family:arial;
	font-size:16px;
	color:#cc0000;
	font-weight:normal;
}
H1.dark{
	color:#565656;
}
.dwnlLine{
	width:100%;
	height:1px;
	background-color:#d3d3d3;
	margin:0px 0 10px 0;
	float:left;
}
/* RICH */
.item_moreOL {
	margin-bottom:25px;
	max-width:125px;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	position:absolute;
	padding-bottom:5px;
	padding-top:1px;
	padding-left:6px;
	padding-right:4px;
	margin-left:-7px;
	margin-top:-2px;
	z-index:4;
}
.browntxt {
      color:#c1c1c1;
	  line-height:15px;
	  z-index:8;
}
.txt11 {
      color:#585858;
}


/* ------------------- BEGIN FORM STYLES -------------------  */
.formOuter{
	float:left;
	width:940px;
	margin-left:20px;
	margin-right:20px;
	
}
.form{
	float:left;
	background-color:#f7f8fa;
	border:1px solid #d0d0d0;
	padding:15px;
	display:block;
}
.form_box{
	background-color:#f7f8fa;
	border:10px solid #666;
	padding:10px;
	display:block;
	margin:0 auto;
	overflow:hidden;
	width:700px;
	
}
.formHead{
	height:50px;
	vertical-align:bottom;
	padding-bottom:5px;
}
.formHeadTxt{
	color:#0175b2;
}
a.formHeadTxt{
	font-size:15px;
	font-weight:normal;
	padding-left:6px;
	padding-right:6px;
}
a.formHeadTxtAct{
	font-size:17px;
	font-weight:bold;
	padding-left:6px;
	padding-right:6px;
}
.formRight{
	float:right;
	width:280px;
}
.formRight10pxMargin{
	margin:5px;
}
.hr_formSubHead{
	width:100%;
	height:64px;
	background:url(images/pr_subheadbg.gif) repeat-x;
	float:left;
}
.hr_formSubHead H3{
	padding-top:26px;
	padding-left:10px;
}
.formItems{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:572px;
	height:100%;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.formItems2{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:540px;
	height:100%;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.formItems3{
	float:left;
	background-color:#fff;
	border-bottom:1px solid #d0d0d0;
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	width:572px;
	height:100%;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.formItems ul{
	margin:0;
	padding-left:20px;
}
.formDesc{
	font-size:11px;
	vertical-align:top;
	line-height:12px;
	color:#909090;
	padding-top:2px;
	padding-bottom:2px;
}
.formError{
	vertical-align:top;
	font-size:11px;
	font-weight:normal;
	color:#d50000;
}
.userAvail{
	vertical-align:top;
	font-size:11px;
	font-weight:normal;
	color:#339933;
}
.watermark{
	color:#666;
}
.formGenError{
	padding-top:15px;
	vertical-align:top;
	font-size:12px;
	font-weight:normal;
	color:#686868;
}
.formApology{
	vertical-align:top;
	font-size:16px;
	font-weight:bold;
	line-height:normal;
	color:#686868;
}
.formTitleText{
	font-family:arial;
	font-size:20px;
	color:#686868;
	line-height:23px;
}
.fieldMsgs{
	width:100%;
	vertical-align:top;
	padding-left:10px;
	padding-top:3px;
	max-width:100px;
}
.reqField{
	vertical-align:top;
	font-size:12px;
	font-weight:normal;
	color:#d50000;
}
.help{
	font-size:11px;
	color:#0175b2;
	padding-left:10px;
}
.formThnx{
	text-align:center;
	vertical-align:top;
	color:#5c5c5c;
	padding:20px 0;
	width:100%;
}
.formCenter{
	text-align:center;
	vertical-align:top;
	color:#5c5c5c;
	width:100%;
}
.formThnxHead{
	color:#0175b2;
	font-size:20px;
	font-weight:bold;
	padding:10px;
	width:100%;
}
.inputBoxes{
	padding:3px;
	background-color:#545454;
	width:276px;
	overflow:hidden;
	margin:6px 0;
	float:left;
}
.inputBoxSml{
	padding:4px;
	background-color:#d9d9d9;
	width:31px;
	overflow:hidden;
	margin:5px 0px 5px 5px;;
	float:left;
}
.inputBoxes1{
	padding:5px;
	background-color:#d9d9d9;
	overflow:hidden;
	margin:6px 0;
	float:left;
}
.checkBoxes{
	padding:4px;
	background-color:#d9d9d9;
	max-width:17px;
	margin:0 10px 5px 0;
	display:block;
	float:left;
}
.inputBoxes2{
	padding:5px;
	background-color:#d9d9d9;
	width:200px;
	overflow:hidden;
	margin:5px 0;
	float:left;
}
.inputBoxes input{
	border:1px solid #8b8b8b;
	padding:2px;
	width:270px;
	height:16px;
	background:url(images/searchinputbg.gif) #fff repeat-x;	
}
.inputBoxSml input{
	border:1px solid #797979;
	padding:2px;
	width:25px;
	text-align:center;
}
.inputBoxes1 input{
	border:1px solid #797979;
	padding:2px;
}
.inputBoxes select{
	border:1px solid #8b8b8b;
	padding:2px;
	width:100%;
	background:url(images/searchinputbg.gif) #fff repeat-x;
}
.inputBoxes1 select{
	border:1px solid #797979;
	padding:2px;
}
.inputBoxes textarea{
	border:1px solid #8b8b8b;
	padding:2px;
	width:270px;
	background:#fff;
}
.inputBoxes2 input{
	border:1px solid #797979;
	padding:2px;
	width:194px;
}
.borderDiv {
	border:1px solid #b7b7b7;
	width:100%;
	float:left;
}
.userHello{
	font-size:24px;
	color:#585858;
}
.userTitle{
	font-size:24px;
	color:#0175b2;
}
a.smlLink1{
	font-family:arial;
	font-size:11px;
	font-weight:normal;
	color:#0175b2;
	display:block;
	padding-top:5px;
}
.progTxt{
	padding-top:3px;
	padding-bottom:10px;
	font-weight:bold;
}
.progPercent{
	font-size:14px;
	color:#0175b2;
}
.userBox{
	float:left;
	background-color:#fff;
	border:1px solid #188fc6;
	width:572px;
	height:100%;
	padding:20px;
	margin-bottom:15px;
	text-align:center;
}
.txt30px{
	font-size:30px;
	line-height:30px;
	font-weight:bold;
	color:#585858;
}
.formHdr{
	width:572px;
	padding:6px 20px 6px 20px;
	border-top:1px solid #0f70a4;
	border-right:1px solid #0f70a4;
	border-left:1px solid #0f70a4;
	float:left;
	color:#fff;
	background-color:#188fc6;
	font-size:15px;
	letter-spacing:-0.3px;
}
.formTabs{
	background-color:#f5f5f5;
	
	background:url(images/formTabBg.gif) repeat-x;
	border-left:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	width:572px;
	padding:4px 20px 0 20px;
	float:left;
	
}
.formTabs .tab_BO{
	width:80px;
	height:26px;
	background:url(images/connectTab_BO-on.gif) no-repeat;
	color:#585858;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:15px 0 0 10px;
}
.formTabs .tab_BO a{
	width:80px;
	height:26px;
	background:url(images/connectTab_BO-off1.gif) no-repeat top;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:12px 0 0 12px;
	margin:-10px 0 0 -12px;
}
.formTabs .tab_BO a:hover{
	width:80px;
	height:26px;
	background:url(images/connectTab_BO-off.gif) no-repeat bottom;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:10px 0 0 12px;
}

.formTabs .tab_CU{
	width:76px;
	height:26px;
	background:url(images/connectTab_CU-on.gif) no-repeat;
	color:#585858;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:15px 0 0 12px;
}
.formTabs .tab_CU a{
	width:76px;
	height:26px;
	background:url(images/connectTab_CU-off1.gif) no-repeat top left;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:12px 0 0 12px;
	margin:-10px 0 0 -12px;
}
.formTabs .tab_CU a:hover{
	width:76px;
	height:26px;
	background:url(images/connectTab_CU-off.gif) no-repeat bottom;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:10px 0 0 12px;
}

.infoBox{
	width:560px;
	padding:7px;
	margin:10px 0;
	color:#585858;
	float:left;
	background-color:#f5f5f5;
	border-bottom:1px solid #d6d6d6;
	border-top:1px solid #d6d6d6;
	font-weight:bold;
}
.linkBtn{
	padding-right:5px;
	float:left;
}
/* ------------------- END FORM STYLES -------------------  */

/* ------------------- BEGIN LIGHTBOX STYLES -------------------  */
.black_overlay{
	position: absolute;
	display:block;
	top: 0%;
	left: 0%;
	width: 100px;
	height: 100px;
	background-color: #000;
	z-index:998;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	float:left;

}

.lightBox{
	background: url(images/lbBg.png) right center transparent repeat;
	z-index:9999;
	position:absolute;
	margin:0 auto;
	width:100%;
	height:100%;
	display:block;
	padding-top:100px;
}
.lbformItems{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:350px;
	min-height:320px;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.lbformItemsPAY{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:645px;
	min-height:320px;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.lbformRight{
	float:left;
	width:246px;
	margin-left:20px;
	margin-right:6px;
}
.lbformHeadTxt{
	font-size:18px;
	color:#0175b2;
	line-height:22px;
	max-width:500px;
}
.lbHead{
	font-size:14px;
	color:#585858;
	line-height:normal;
	font-weight:bold;
	letter-spacing:-0.2px;
}
.lbHeadBlue{
	font-size:14px;
	color:#0175b2;
	line-height:normal;
}
.lbfieldMsgs{
	width:100%;
	vertical-align:top;
	padding-bottom:5px;
	max-width:350px;
}
.lb ul {list-style:square}
.lb li {margin-left:20px; list-style:outside}
/* ------------------- END LIGHTBOX STYLES -------------------  */

/* ------------------- BEGIN PROFILES STYLES -------------------  */

.prMenu {
	width:382px;
	float:left;
	
}
.prMenuItem {
	vertical-align:top;
	text-align:center;
	color:#0175b2;
	float:left;
	padding-left:2px;
	padding-right:3px;
}
.prMenuItem a.menuActive {
	font-size:16px;
	font-weight:normal;
	color:#585858;
}
.prMenuItem a:hover.menuActive {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.prMenuItem a.menuInactive {
	font-size:16px;
	font-weight:normal;
	color:#0175b2;
}
.prMenuItem a:hover.menuInactive {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.newsLlogo{
	width:90px;
	float:left;
	vertical-align:middle;
	padding:2px;
}
.newsLdesc{
	max-width:444px;
	float:left;
	font-size:11px;
	line-height:normal;
}
.newsLcheck{
	width:32px;
	float:left;
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
}
	
/* ------------------- END PROFILE STYLES -------------------  */


/* ------------------- ON DEMAND REGISTRATION STYLES    *LOUISE* -------------------  */
/* RICH */
/*.regForm{
	float:left;
	width:100%;
	background-color:#f8f8f8;
	padding:18px 0;
}
.regItems{
	float:left;
	background-color:#f8f8f8;
	padding-left:25px;
}
.regTab{
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
	padding-bottom:14px;
	padding-left:12px;
	padding-right:12px;
	padding-top:14px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-top:1px solid #fff;
	font-size:15px;
	color:#e1e1e1;
	font-weight:normal;
}
.regTab a {
	font-size:15px;
	color:#0175b2;
	text-decoration:none;
	font-weight:normal;	
	cursor:pointer;
}
.regTabActive{
	background-color:#f8f8f8;
	text-align:center;
	vertical-align:middle;
	padding-bottom:14px;
	padding-left:12px;
	padding-right:12px;
	padding-top:14px;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
	font-size:15px;
	color:#5a5a5a;
	font-weight:normal;
}
.regTabActive a {
	font-size:15px;
	color:#5a5a5a;
	text-decoration:none;
	font-weight:normal;	
	cursor:pointer;
}
.regStar{
	margin:5px 20px 20px 20px;
	font-size:10px;
}
.regBlck{
	width:260px;
	background-color:#eee;
	padding:10px;
	float:left;
}
.regBlck2{
	width:260px;
	background-color:#eee;
	padding:10px;
	float:left;
	margin-left:165px;
}
.regDescs{
	font-size:11px;
	vertical-align:top;
}
.regMsgs{
	vertical-align:top;
	width:100%;
}
.regCenter{
	width:880px;
	vertical-align:middle;
	text-align:center;
}
.regError{
	padding-left:15px;
	vertical-align:top;
	font-size:11px;
	font-weight:normal;
	color:#d50000;
}

.inputBoxes2{
	padding:5px;
	background-color:#d9d9d9;
	width:190px;
	overflow:hidden;
	margin:5px 0;
	float:left;
}
.inputBoxes2 input{
	border:1px solid #797979;
	padding:2px;
	width:182px;
}
.floatRight{
	float:right;
	width:100%;
	overflow:hidden;
}
.grey19{
	font-size:19px;
	color:#444;
	padding-bottom:10px;
	line-height:20px;
}
.blueTxt{
	color:#0a77b1;
	font-weight:normal;
}
.regThnx{
	text-align:center;
	color:#5c5c5c;
	line-height:25px;
	margin:25px 0;
}
.extraRegInfo{
	width:145px;
	float:right;
	margin:0 12px 0 12px;
	font-size:11px;
	color:#5a5a5a;
}
.regUserWelcome{
	float:left;
	background:url(images/newUser_blckBG.gif) top no-repeat;
	text-align:center;
	width:100%;
	padding-top:25px;
	color:#000;
	height:165px;
}
.copyArea{
	width:940px;
	margin:20px auto 0 auto;
}*/





/*----------------  AUTHORISATION STYLES - RICH - --------------*/
/* Z-index of #mask must lower than #boxes .window */

.auth_window{
      z-index:150;
      width:410px;
      height:200px;
      position:absolute;
      margin:105px 255px;
      text-align:center;
}
 .auth_mid{
	width:410px;
	height:200px;
	padding:10px;
	background: url(images/auth_bg.png) repeat;
	float:left;
	display:block;
	text-align:center;
}

.auth_txt {
	font-family:arial;
	font-size:12px;
	color:#cecece;
}
.auth_nbtxt {
	font-family:arial;
	font-size:18px;
	color:#fff;
}
a.authlink{
	font-family:arial;
	font-size:12px;
	color:#fff;
}

/*----------------  SALES STYLES - --------------*/
.greycenter{
	background-color:#f6f6f7;
	text-align:center;
	vertical-align:middle;
	width:300px;
}
.greyBG{
	background-color:#f6f6f7;
	line-height:20px;
	width:280px;
	float:left;
	overflow:hidden;
	display:block;
	padding:10px;
	margin-bottom:15px;
}

.faq_QuesDiv{
	float:left;
	width:100%;
	background-color:#2c2c2c;
	margin-top:-10px;
}
.faq_Questions{
	float:left;
	padding:15px;
	width:660px;
	overflow:hidden;
	display:block;
}
.faq_Questions a{
	float:left;
	width:100%;
	margin-bottom:10px;
	overflow:hidden;
	display:block;
}
.faq_Answers{
	line-height:18px;
	float:left;
	width:100%;
	color:#fff;
	padding-left: 14px;
	max-width:664px;
}
.faq_Answers p{
	padding-bottom:15px;
	color:#c1c1c1;
}

/*----------------  ERROR STYLES - --------------*/
.errBg{
	background: url(images/errBg.png) no-repeat;
	height:318px;
	width:980px;
}
.errDisplay {
	padding-left:385px;
	padding-top:80px;
	max-width:505px;
	width:505px;
	float:left;
}
.errTItle{
	font-size:40px;
	color:#c1c1c1;
	font-weight:normal;
	line-height:60px;
}
.errMsg{
	font-size:16px;
	color:#c1c1c1;
	font-weight:normal;
}
.errTxt{
	font-size:12px;
	color:#c1c1c1;
	font-weight:normal;
}
.errTxt a{
	font-size:12px;
	color:#2aabe4;
	font-weight:normal;
}
.errTxt a:hover{
	font-size:12px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}

/* GLOBAL ELEMENTS */
body{
	margin:0 0 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#626262;
	line-height:15px;
	text-align:left;
	background: url(images/winbg.jpg) #1d1d1d repeat-x;
}
.successMessage  { color:Green; }
.floatLeft{
	float:left;
	width:100%;
}
.divLeft{
	float:left;
}
.floatRight{
	float:right;
}
a, input, button, img { outline:none; }
/* -------------- HEADING STYLES ---------------- */
.greyHdrLine{			 				/* ON WHITE BG */
	width:100%;
	height:1px;
	background-color:#d3d3d3;
	margin:5px 0 14px 0;
	float:left;
}
.greyHdrLine1{			 				/* ON WHITE BG NO TOP MARGIN */
	width:100%;
	height:1px;
	background-color:#d3d3d3;
	margin:0px 0 20px 0;
	float:left;
}
.greyHdrLine2{			 				/* ON BLACK BG */
	width:100%;
	height:1px;
	background-color:#6d6d6d;
	margin:10px 0 20px 0;
	float:left;
}
.greyHdrLine3{			 				/* 10PX BOTTOM MARGIN */
	width:98%;
	height:1px;
	background-color:#d3d3d3;
	margin:10px 0 10px 0;
	float:left;
}
.greyHdrLine4{			 				/* 10PX BOTTOM MARGIN */
	width:100%;
	height:1px;
	background-color:#d3d3d3;
	margin:4px 0 14px 0;
	float:left;
}
.greyHdrLine6{			 				/* 10PX BOTTOM MARGIN */
	width:100%;
	height:1px;
	background-color:#d3d3d3;
	margin:1px 0 1px 0;
	float:left;
}
/* RICH */
.greyHdrLine5{			 				/* 10PX BOTTOM MARGIN */
	width:100%;
	height:1px;
	background-color:#d3d3d3;
	margin:8px 0 12px 0;
	float:left;
}
.whiteLine{			 				/* 10PX BOTTOM MARGIN */
	width:100%;
	height:2px;
	background-color:#fff;
	margin:14px 0 14px 0;
	float:left;
}
h1{       							 /* 21px Grey */
	font-size:21px;
	color:#686868;
	font-weight:normal;
	margin:0 6px 0px 0;
	float:left;
	line-height:18px;
	letter-spacing:-0.5px;
}
h2{       							 /* 18px Grey */
	font-size:18px;
	color:#686868;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	line-height:17px;
	letter-spacing:-0.5px;
}
h3{       							 /* 16px Dark Grey */
	font-size:16px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:19px;
}
h4{
	font-size:24px;
	color:#ffffff;
	font-weight:normal;
	margin:0 8px 0 0;
	float:left;
	padding:3px 0;
	line-height: 22px;
}

h4.home {
	font-size:24px;
	color:#ffffff;
	font-weight:normal;
	margin:10px 8px 0 16px;
	float:left;
	padding:3px 0;
	line-height: 22px;
	z-index:2;
}

h5{
	font-size:24px;
	color:#ffffff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:22px;
}
h6{       							 /* 26px Dark Grey */
	font-size:32px;
	color:#fff;
	font-weight:normal;
	margin:0 10px 0 0;
	float:left;
	padding:3px 0;
	line-height:34px;
}
h7{       							 /* 24px White */
	font-size:24px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:23px;
}
.iefix_h7{       							 /* 24px White */
	font-size:24px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:23px;
}
h8{       							 /* 28px White */
	font-size:28px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:27px;
}
.iefix_h8{ 
      font-size:24px; /* RICH */
      color:#fff;
      font-weight:normal;
      margin:0 15px 0 0;
      line-height:26px;
      float:left;
      padding:6px 0;
	  line-height:23px;
}


h9{       							 /* 18px White */
	font-size:18px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:18px;
}
.iefix_h9{       							 /* 18px White */
	font-size:18px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	margin:0 15px 0 0;
      line-height:22px;
	float:left;
	padding:3px 0;
}
h10{       							 /* 14px White */
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:14px;
}
h11{       							 /* 14px Grey */
	font-size:14px;
	color:#797979;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:14px;
}
.iefix_h11{       							 /* 14px Grey */
	font-size:14px;
	color:#797979;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:14px;
}
.iconRSS{
	float:right;
}

.breadCrumb_Wrapper{
	width:960px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.hr_dotline{
	width:100%;
	height:1px;
	background:url(images/hr_dotline.gif) repeat-x;
	float:left;
	margin-bottom:12px;
}
/*- RICH -*/
.hr_dotline1{
	width:100%;
	height:1px;
	background:url(images/hr_dotline.gif) repeat-x;
	float:left;
	margin-bottom:5px;
	margin-top:6px;
}
.hr_dotline2{
	width:100%;
	height:1px;
	background:url(images/hr_dotline.gif) repeat-x;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
}
.hr_dotline3{
	width:290px;
	height:2px;
	background:url(images/hr_dotline.gif) repeat-x;
	float:left;
	margin-bottom:12px;
}
.body_wrapper{
	width:100%;
	float:left;
}

 				/* ERROR PAGE */
 
.error_h8{ 
      font-size:30px;
      color:#fff;
      font-weight:normal;
      margin:0 15px 0 0;
      line-height:26px;
      float:right;
	text-align:right
      padding:6px 0;
	  line-height:23px;
}

.error_h4{ 
      font-size:18px; 
      color:#fff;
      font-weight:normal;
      margin:0 15px 0 0;
      line-height:26px;
      float:right;
	text-align:right
      padding:6px 0;
	  line-height:23px;
}

.error_h2{ 
      font-size:13px; 
      color:#fff;
      font-weight:normal;
      margin:0 15px 0 0;
      line-height:26px;
      float:right;
	text-align:right
      padding:6px 0;
	  line-height:23px;
}

/* -------------- HEADER STYLES ---------------------  */


.headerContent .DSTVtext{
	float:left;
	margin:17px 12px 34px 0;
	width:97px;
	height:55px;
	border:0;
}

.headerContent .registerLogin{
	float:right;
	width:87px;
	margin:0 0 0 15px;
	color:#8b837f;
}
.headerContent .registerLogin a{
	color:#8b837f;
	text-decoration:none;
	font-weight:normal;
	padding-bottom:7px;
}
.headerContent .registerLogin a:hover{
	color:#8b837f;
	text-decoration: underline;
	font-weight:normal;
	padding-bottom:7px;
}

/* -------------------- TOP LOGIN STYLES ----------------- */
.top_login{
	z-index:100;
	width:596px;
	height:346px;
	position: absolute;
	margin:0 20%;
	top: 15px;
}
.top_login-Top{
	height:5px;
	background:url(images/shadow_top.png) repeat-x bottom;
}
.top_login-Left{
	width:5px;
	background:url(images/shadow_left.png) repeat-y right;
}
.top_login-Right{
	width:5px;
	background:url(images/shadow_right.png) repeat-y left;
}
.top_login-Btm{
	height:5px;
	background:url(images/shadow_btm.png) repeat-x top;
}
 .mid{
	width:566px;
	height:289px;
	padding:10px;
	background-color:#fff;
	float:left;
	display:block;
}
.mid .right{
	width:140px;
	padding-right:8px;
}
.mid .sml_greyBox{
	width:124px;
	padding:8px;
	background-color:#f5f5f5;
	font-size:10px;
	line-height:14px;
	margin-bottom:10px;
}
.sml_greyBox2{
	width:124px;
	padding:8px;
	background-color:#f5f5f5;
	font-size:11px;
	line-height:14px;
	margin-bottom:10px;
	font-weight:bold;
	color:#000;
}
.blueTxt{
	color:#0175b2;
	font-weight:bold;
}
.right .myDSTV_hdr{
	width:132px;
	font-size:26px;
	margin-bottom:8px;
	background: url(images/myDSTV_hdr_bg.gif) repeat-x;
	padding:8px 0 5px 8px;
	color:#fff;
	line-height:25px;
}
.mid .box{
	width:418px;
	height:207px;
}
.box .Boxtop{
	height:5px;
	border-top:1px solid #e9e9e9;
}
.box .Boxleft{
	width:5px;
	border-left:1px solid #e9e9e9;
}
.box .Boxright{
	width:5px;
	border-right:1px solid #e9e9e9;
}
.box .Boxbtm{
	height:5px;
	border-bottom:1px solid #e9e9e9;
}
.box .boxMid{
	width:388px;
	height:187px;
	padding:10px;
	color:#565656;
	font-size:11px;
}
.box .boxMid a{
	color:#115dc2;
	font-size:11px;
	font-weight:normal;
}
.hdr{
	font-size:14px;
	font-weight:bold;
	padding-bottom:8px;
}
.hdr2{
	font-size:16px;
	color:#7c7c7c;
	padding-bottom:10px;
	border-bottom:1px solid #d3d3d3;
	line-height:15px;
}
.boxMid .hrVert{
	background:url(images/box_hr_verticle.gif) repeat-y center;
	padding:0 15px;
}
.small10px{
	font-size:10px;
}
.boxInput{
	width:193px;
	height:12px;
	border:1px solid #000;
	font-size:10px;
	margin:2px 0 4px 0;
}

.boxInputSearch{
	width:190px;
	height:12px;
	border:1px solid #000;
	font-size:10px;
	margin:2px 0 4px 0;
}

.forgot{
	font-size:10px;
}
.forgot a{
	font-size:10px;
	font-weight:normal;
}

.mid .ad566x68{
	margin-top:8px;
}

/* ----------------- NAV STYLES ------------------- */

.global_nav .search{
	float:right;
	width:260px;
	height:22px;
	padding:6px 10px 5px 18px;
	background:url(images/search_nav_bg.gif) repeat-x;
	color:#fff;
	vertical-align:middle;
}
.search .searchInput {
	border:1px solid #424242;
	background:url(images/searchinputbg.gif) repeat-x #fff; 
	width:184px;
	height:20px;
	color:#585858;
	padding-left:2px;
}
.global_nav .nav_btnBck{
	float:right;
	background:url(images/btn_back2Mnet_bg.gif) repeat-x top #252525;
	width:125px;
	height:25px;
	padding:8px 10px 0 8px;
	border-left:1px solid #252525;
	border-right:1px solid #252525;
}
.global_nav .nav_btnBck a{
	font-size:11px;
	color:#bfbfbf;
}


/* -------------- COLUMN STYLES ---------------------  */


/* RICH */
.block940{
	width:940px;
	margin:0 10px;
	float:left;
}
.block940_20px{
	width:940px;
	margin:0 20px;
	float:left;
	color:#c1c1c1;
}
.cols2{
	float:left;
	width:640px;
	position: relative;
	display:block;
}
.block640{
	width:640px;
	margin:0 20px;
	float:left;
}
.block620None{
	width:620px;
	float:left;
}
.block300_grey{
	width:280px;
	margin:0px 0px;
	float:left;
	background-color:#222222;
	padding:20px 10px 20px 10px;
	line-height:16px;
	text-align:center;
}
.block300_greyRight{
	width:100%;
	float:left;
	background-color:#f6f6f7;
	padding:10px;
	margin-bottom:20px;
	line-height:23px;
}
.block620_grey{
	width:620px;
	margin:0 10px;
	float:left;
	background-color:#f5f5f5;
	padding-top:20px;
}
.block620_grey2{
	width:600px;
	float:left;
	background-color:#f5f5f5;
	padding:10px;
	margin-bottom:15px;
	float:left;
}

.block700{
	float:left;
	width:700px;
	background:url(images/browsevidbg.png) repeat-y;
}

.block700top{
	float:left;
	width:700px;
	min-height: 46px;
	background-color:#000;
	border-bottom:1px solid #c1c1c1;
	margin-bottom:12px;
	
}

.block300_R{
	width:300px;
	margin-left:0px;
	float:right;
}
.ad300x250{
	width:300px;
	margin-bottom:20px;
	float:left;
}
.ad300x80{
	width:300px;
	height:80px;
	margin-bottom:10px;
	float:left;
}
.adConnect{
	width:191px;
	height:42px;
	margin-bottom:10px;
	float:left;
	background:url(images/connect_bg.jpg) no-repeat;
	padding:19px 7px 19px 102px;
}
.adConnect .connectIcons{
	width:42px;
	height:42px;
	float:left;
	margin:0 2px;
}
.padding20px{
	height:20px;
	float:left;
	width:100%;
}
.padding24px{
	height:24px;
	float:left;
	width:100%;
}
.padding15px{
	height:15px;
	float:left;
	width:100%;
}
.padding10px{
	height:10px;
	float:left;
	width:100%;
}
.padding5px{
	height:5px;
	float:left;
	width:100%;
}


/* -------------- HEADING STYLES ---------------- */
.hdr_21pxGrey{
	font-size:21px;
	color:#797979;
	padding-bottom:10px;
	width:100%;
	display:block;
}
.hdr_21pxGrey_line{
	font-size:21px;
	color:#797979;
	padding:12px 0 6px 0;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:15px;
	float: left;
	display:block;
	line-height:20px;
}
.hdr_18pxGrey_line{
	font-size:18px;
	color:#797979;
	padding-bottom:10px;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:10px;
	float: left;
	display:block;
	line-height:17px;
}
.hdr_16pxGrey_line{
	font-size:16px;
	color:#444;
	padding-bottom:10px;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:10px;
	float: left;
	display:block;
	line-height:15px;
}
.hdr_16pxGrey{
	font-size:16px;
	color:#444;
	margin-bottom:10px;
	float: left;
	display:block;
	line-height:15px
}
.hdr_24pxGrey_line{
	font-size:24px;
	color:#444;
	padding-bottom:10px;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:5px;
	float: left;
	display:block;
	padding-top:3px;
	line-height:23px;
}
.hdr_24pxGrey{
	font-size:24px;
	color:#444;
	margin:0 15px 5px 0;
	float: left;
	padding-top:55px;
	line-height:23px;
}
.hdr_22pxGrey_line{
	font-size:22px;
	color:#444;
	padding-bottom:10px;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	float: left;
	display:block;
	padding-top:3px;
	line-height:21px;
}
.hdr_26pxGrey{
	font-size:26px;
	font-weight:bold;
	color:#444;
	padding:3px 0 12px 0;
	width:100%;
	background:url(images/hr_line.gif) repeat-x bottom;
	float: left;
	display:block;
	margin-bottom:8px;
	line-height:26px;
}
.hdr_24pxWhite{
	font-size:24px;
	color:#fff;
	padding:3px 0 10px 0;
	width:100%;
	border-bottom:1px solid #575757;
	float: left;
	display:block;
	margin-bottom:10px;
	line-height:23px;
}
.hdr_28pxWhite{
	font-size:28px;
	color:#fff;
	float: left;
	display:block;
	margin:20px 20px 15px 10px;
	line-height:27px;
}
.white14px{
	font-size:14px;
	color:#fff;
}
.white12px{
	font-size:12px;
	color:#fff;
	float:left;
}
.white18px{
	font-size:18px;
	color:#fff;
	font-weight:bold;
	line-height:17px;
}
.hrSolid{
	background:url(../../onDemand/app_themes/DSTV/images/1x1_grey.gif) repeat-x;
	height:1px;
	width:100%;
	margin:10px 0 12px;
	float:left;
}
.hrSolidBlue{
	background-color:#a0cbe2;
	height:2px;
	width:100%;
	margin:0 0 15px 0;
	float:left;
}



/* -------------------- BUZZ STYLES ------------------ */
.buzz_item{
	width:100%;
	background: url(images/hr_dotline.gif) repeat-x bottom;
	padding-bottom:8px;
	margin-bottom:10px;
	float:left;
	vertical-align:top
}
.buzz_item .hdr{
	font-size:17px;
	font-weight:normal;
	padding-bottom:3px;
	line-height:18px;
}
.buzz_item a.hdr  {
	color:#444;
	text-decoration:none;
	line-height:18px;
}
.buzz_item a:hover.hdr {
	color:#0175b2;
	text-decoration:underline;
	line-height:18px;
}
.buzz_item .txt{
	font-size:12px;
	color:#626262;
	line-height:15px;
	padding-bottom:5px;
}
.buzz_item .thumb{
	width:110px;
	height:83px;
	margin-right:10px;
	float:left;
	border:1px solid #e2e2e2;
}
.buzz_item .thumbImg{
	padding-right:10px;
	padding-bottom:10px;
}
.moreBtn{
	float:right;
	text-align:right;
	font-weight:bold;
	cursor:pointer;
	vertical-align:bottom;
}

.moreBtn2 a {
	font-size:12px;
	color:#2aabe4;
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
	vertical-align:bottom;
}
.moreBtn2 a:hover {
	color:#ffffff;
	text-decoration:underline;
}

.moreBtn2{
	float:right;
	text-align:right;
	font-weight:bold;
	cursor:pointer;
	vertical-align:bottom;
	margin:20px 16px 0px 0px;
}
.moreBtn3{
	float:right;
	text-align:right;
	font-weight:bold;
	cursor:pointer;
	vertical-align:bottom;
	width:100%;
}
a.articleLink{
	float:right;
}
.fbLike{
	margin-bottom:10px;
	float:left;
}
/* ------------------- KALAHARI.NET SHOP STYLES ------------------- */
.shopList{
	width:214px;
	float:left;
}

.shop{
	width:100%;
	margin-bottom:20px;
	font-size:11px;
	color:#717171;
	line-height:14px;
	float:left;
}
.shop a{
	color:#2768b3;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
}
.shop a:hover{
	color:#2768b3;
	font-size:11px;
	text-decoration: underline;
}
.shop .thmb{
	width:70px;
	padding-right:15px;
}
.shop .title{
	font-size:14px;
	font-weight:bold;
	color:#323232;
}
.shop .numDisc{
	color:#323232;
	font-weight:bold;
}
.shop .desc{
	color:#2a2a28;
}
.shop .price{
	color:#ce0f0f;
}
.shop .code{
	color:#669933;
}




/* ---------------------- CHANNEL PAGE STYLES ----------------- */
.chnl_bb{
	width:100%;
	background: url(images/chnl_bb_bg.gif) repeat-x bottom #1a1a1a;
	padding:20px 0 15px 0;
}
.chnl_bb .bb_content{
	width:940px;
	margin:0 auto;
}
.bbTabs{
	margin:4px 0 2px 15px;
	float:left;
}
.bbTabs ul {margin: 0;padding: 0;list-style-type: none;}
.bbTabs li {margin: 0;padding-bottom: 2px;float: left;}
.bbTabs li {background-image: none;text-align: center;}
.bbTabs a.up {
	display: block;
	background: url(../../onDemand/app_themes/DSTV/images/bb_arrow_up.gif) no-repeat right;
	padding-right:14px;
	color:#4ea0fe;
	font-size:12px;
	text-decoration:none;
	/*font-weight: 14px 0px 14;
	margin-right:14px;*/
}
.bbTabs a.down {	
	display: block;
	background: url(../../onDemand/app_themes/DSTV/images/bb_arrow_down.gif) no-repeat right;
	padding-right:14px;
	color:#fff;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	margin-right:10px;
}
.bbTabs a.down:hover {
	background: url(../../onDemand/app_themes/DSTV/images/bb_arrow_up.gif) no-repeat right;
	text-decoration:none;
	color:#fff;
}
.bb_content .options{
	padding:0 20px;
	color:#e9e9e9;
}
.options .one{
	border-bottom:1px solid #575757;
	padding-bottom:11px;
}
.oneInput{
	border:1px solid #000;
	width:155px;
	height:20px;
}
.options .two{
	padding-top:11px;
}
.two_hrVert{
	width:1px;
	padding:0 10px;
	background:url(images/chnl_bb_hrVert.gif) no-repeat center;
	height:55px;
	float:left;
}

.chnl_logoInfo{
	width:162px;
	margin:20px 15px 0px 15px;
	float:left;
}
.chnl_logoInfo .chnlLogo{
	width:162px;
	height:93px;
	margin-bottom:10px;
}
.chnl_logoInfo .chnlInfo{
/*	height:175px;       */
	height:0px;
	overflow:hidden;
}
.chnlInfo .title a{
	font-size:18px;
	font-weight:bold;
	color:#125dc2;
	text-decoration:none;
	line-height:17px;
}
.chnlInfo .title a:hover{
	font-size:18px;
	font-weight:bold;
	color:#125dc2;
	text-decoration: underline;
	line-height:17px;
}
.chnlInfo .chnl{
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding-top:3px;
}
.chnlInfo .info{
	font-size:12px;
	color:#626262;
	line-height:15px;
	padding:5px 0;
}
/* ------------------ CATEGORY TAB STYLES ----------------- */
.navWrap{
	width:100%;
	background-color:#000;
	float:left;
	margin-bottom:20px;
}
.navFull{
	width:940px;
	margin:0 auto;
}
.tabsBlck {
	width:100%;
	background-image: none;	padding: 0; 
	clear:both;
	overflow:hidden;
	background-color:#000;
	cursor:pointer;
	float:left;
	height:36px;
}
.tabsBlck ul {margin: 0;padding: 0;list-style-type: none;}
.tabsBlck li {margin: 0;padding: 0;float: left;}
.tabsBlck li {background:#fff none;text-align: center;}
.tabsBlck a.up {
	display: block;
	background-color:#fff;
	padding: 10px 11px 11px 11px;
	color:#000;
	font-size:12px;
	text-decoration:none;
	/*border-top:3px solid #fff;*/
	font-weight:normal;
}
.tabsBlck a.down {	
	display: block;
	background-color:#000;
	padding: 10px 11px 11px 11px;
	background-repeat: repeat-x;
	color:#abacad;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}
.tabsBlck a.down:hover {
	background-color: #424242;
	text-decoration:none;
	color:#fff;
}



/* ------------------------- SOUND CHECK WIDGET STYLES --------------------	*/
.soundCheck{
	width:300px;
	margin-bottom:20px;
}

/*--------------- GLOBAL FOOTER ---------------*/
.global_footer {
	width: 100%;
	margin-top:20px;
	float:left;
	z-index:0;
}
.global_footer .siteMap{
	width:100%;
	background-color:#ebebeb;
	border-bottom:3px solid #b2b2b2;
	padding:15px 0;
	
}
.siteMap .content{
	width:940px;
	margin:0 auto;
	font-size:11px;
	color:#000;
}
.siteMap .content a{
	font-size:11px;
	color:#8d8d8d;
	text-decoration:none;
}
.siteMap .content a:hover{
	font-size:11px;
	color:#8d8d8d;
	text-decoration: underline;
}
.global_footer .footer_content {
	width: 100%;
	width: 940px;
	height: 130px;
	margin: 0 auto;
	padding:10px 10px 0 10px;
	overflow: hidden;
	position: relative;
	border-top:1px solid #333;
}
.footer_content .logo {
	float:left;
	width:150px;
}
.footer_content .copy {
	float:left;
	padding-left:10px;
	text-align:left;
	margin-top:30px;
	font-size:11px;
	color:#c1c1c1;
}
.footer_content .copy a {
	color:#ffffff;
	text-decoration:none;
	font-size:11px;
}
.footer_content .copy a:hover {
	text-decoration:underline;
	font-size:11px;
}



.area{
	background-color:#fff;
	padding:9px;
	float:left;
	width:270px;
}
.hdrArea{
	font-size:16px;
	color:#7c7c7c;
	padding-bottom:10px;
	border-bottom:1px solid #d3d3d3;
	line-height:15px;
}

.area .hdr{
	font-size:16px;
	color:#7c7c7c;
	padding-bottom:10px;
	border-bottom:1px solid #d3d3d3;
	line-height:15px;
}
.exp{
	font-size:11px;
	color: #7c7c7c;
	border-bottom:1px solid #d3d3d3;
}

.expDate{
	font-size:10px;
	color:#005e9b;
}




/* -------------------------- ON DEMAND STYLES --------------------------- */
.onDemand_topNav{
	margin:15px auto 5px auto;
	width:940px;
	font-size:16px;
	font-weight:bold;
	display:block;
}

.onDemand_topNav ul {margin: 0;padding: 0;list-style-type: none;}
.onDemand_topNav li {
	margin-right: 25px;
	padding: 0;
	float: left;
}
.onDemand_topNav a.up {
	color:#000;
	font-size:16px;
	text-decoration:none;
}
.onDemand_topNav a.down {	
	color:#0d78a6;
	font-size:16px;
	text-decoration:none;
	font-weight:normal;
}
.onDemand_topNav a.down:hover {
	text-decoration: underline;
}
/* ----------------- ON DEMAND ITEM STYLES -------------- */
.OD_item{
	width:136px;
	display:block;
	margin-bottom:20px;
	margin-left:14px;
	padding:0;
	float:left;
	z-index:2800;
	overflow:visible;
}

.OD_item .info {
	padding-top:6px;
	max-width:142px;
	width:142px;
	display:block;
	color:#c1c1c1;
}

.detail{
	font-size:11px;
	font-weight:normal;
	color:#333;
	padding-bottom:5px;
	line-height:13px;
}
.OD_item_sep{
	float:left;
	width:3px;
	display:block;
	height:20px;
}
.OD_item_sep2{
	float:left;
	width:20px;
	display:block;
	height:15px;
}
.thumb{
	width:110px;
	height:83px;
	margin:0 10px 8px 0;
}
.thumb2{
	width:110px;
	height:83px;
	margin:0 10px 15px 0;
}
.thumb2 a span{
    width:110px;
    height:83px;
    position:absolute;
    overflow:hidden;
    display:block;
}
.thumb2 a span:hover{
	border-bottom:5px solid #0175b2;
	height:79px;
}
.thumb .vid-time{
	position:absolute;
	z-index:1;
	float:right;
	background:#444;
	color:#fff;
	font-size:9px;
	padding:1px 3px;
	margin:2px;
}
.icons img{
	font-size:11px;
	font-weight:bold;
	margin:5px 5px 5px 0;
}
.thumb a span
{
    width:110px;
    height:83px;
    background:url(images/Video.png);
    position:absolute;
    overflow:hidden;
    display:block;
}
.thumb a span:hover
{
    background:url(images/VideoOver.png);
}

.OD_item2{
	width:154px;
	display:block;
	margin-bottom:20px;
	padding:0;
	float:left;
	padding-left:15px;
}
.OD_item2 .info {
	padding-top:6px;
	max-width:142px;
	width:142px;
	display:block;
	color:#c1c1c1;
}
.OD_item2 .detail{
	font-size:11px;
	font-weight:normal;
	color:#c1c1c1;
	padding-bottom:5px;
	line-height:13px;
}

.OD_item2 .title{
	color:#c1c1c1;
}

.title a{
	font-size:14px;
	font-weight:bold;
	color:#2aabe4;
	text-decoration:none;
	line-height:18px;
}
 .title a:hover{
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	text-decoration: underline;
}
.chnl{
	font-size:13px;
	font-weight:bold;
	color:#333;
	line-height:15px;
	padding:3px 0 2px 0;
}
.episode{
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	line-height:15px;
	padding:3px 0 2px 0;
}

.episodeListCont{
	float:left;
	padding-top:5px;
	padding-bottom:14px;
}

.time{
	font-size:9px;
	color:#afafaf;
	line-height:14px;
}

.OD_adSearch{
	width:300px;
	height:58px;
	background: url(images/OnDemand_adSearch_bg.gif) repeat-x bottom #1f1f1f;
	float:left;
}
.OD_adSearch .searchArea{
	width:256px;
	height:18px;
	margin:15px;
	padding:7px;
	background:url(images/OnDemand_search_bg.gif) repeat-x;
}
.searchArea .ODinput{
	width:206px;
	height:16px;
	border:1px solid #5a7179;
	font-size:11px;
	float:left;
	color:#7e7e7e;
}


.OD_topVid{
	width:300px;
	margin-bottom:20px;
	float:left;
}
.OD_topVid .tabbs {
	width:100%;
	background: url(images/1x1_grey.gif) repeat-x bottom #fff;	
	padding: 0; 
	clear:both;
	overflow:hidden;
	float:left;
}
.OD_topVid .tabbs ul {margin: 0;padding: 0;list-style-type: none;}
.OD_topVid .tabbs li {margin-right:3px;padding: 0;float: left;}
.OD_topVid .tabbs li {background:#fff none;text-align: center;}
.OD_topVid .tabbs a.up {
	display: block;
	background-color:#fff;
	padding:10px 9px;
	color:#444;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	border-left:1px solid #9d9d9d;
	border-top:1px solid #9d9d9d;
	border-right:1px solid #9d9d9d;
}
.OD_topVid .tabbs a.down {	
	display: block;
	background: url(images/1x1_grey.gif) repeat-x bottom #e4e4e4;
	padding:10px 9px;
	color:#848484;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;
	border-left:1px solid #c2c2c2;
	border-top:1px solid #c2c2c2;
	border-right:1px solid #c2c2c2;
}
.OD_topVid .tabbs a.down:hover {
	background: url(images/1x1_grey.gif) repeat-x bottom #c4c4c4;
	text-decoration:none;
}
.OD_area{
	width:278px;
	padding:10px;
	float:left;
	border-left:1px solid #a4a4a4;
	border-bottom:1px solid #a4a4a4;
	border-right:1px solid #a4a4a4;
	
}
.OD_area .hdr{
	font-size:16px;
	color:#7c7c7c;
	padding-bottom:10px;
	border-bottom:1px solid #d3d3d3;
}
.OD_keys{
	width:290px;
	padding:5px;
	background:url(images/key_bg.gif) top right no-repeat #f5f5f5;
	color:#939393;
	font-size:11px;
	float:left;
	margin-bottom:20px;
}



  /* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
 /* ---------------------------------------------------------- ON DEMAND FILTER STYLES INCLUDING ACCORDION STYLES ---------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.OD_filter{
	width:200px;
	margin:0 20px;
	float:left;
	padding:10px;
	background-color:#2e2e2e;
	border-bottom:1px solid #292929;
}
.OD_filter .hdrFilter{
	width:188px;
	background: #606060;
	padding:5px;
	font-size:15px;
	color:#fff;
	float:left;
	border:1px solid #606060;
}


/*----------------------------------- ACCORDION STYLES -----------------*/
.Accordion {
	overflow: hidden;
	float:left;
	width:200px;
}
.AccordionPanel {
	margin: 0px;
	padding: 0px;
}
.AccordionPanelTab {
	background: url(images/filterOption_closed.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	float:left;
	width:190px;
}
.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	background:transparent;
}
/*-------------- UL LI FOR ACCORDION START HERE -------------*/
.OD_filter .AccordionPanelContent{
	margin:0;
	width:100%;
	float:left;
}

.OD_filter .AccordionPanelContent ul {margin: 0;padding:0;list-style-type: none;}
.OD_filter .AccordionPanelContent li {margin:0;padding: 0; cursor:pointer;}
.OD_filter .AccordionPanelContent a.up {
	display: block;
	background: url(images/arrow_smlBlck.png) no-repeat left #000;
	padding:5px 5px 5px 25px;
	color:#fff;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	border-bottom:1px solid #b5b5b5;
}
.OD_filter .AccordionPanelContent a.down {	
	display: block;
	padding:5px 5px 4px 25px;
	text-decoration: none;
	border-bottom:1px solid #676767;
	font-weight:normal;
	color:#2aabe4;
}
.OD_filter .AccordionPanelContent a.down:hover {
	background: url(images/arrow_smlBlck.png) no-repeat left #000;
	padding:5px 5px 4px 25px;
	text-decoration:none;
	color:#fff;
}
/*-------------- UL LI FOR ACCORDION END HERE -------------*/

.AccordionPanelOpen .AccordionPanelTab {
	background: url(images/filterOption_open.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionPanelTabHover {
	background: url(images/filterOption_hover.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	background: url(images/filterOption_closed.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionFocused .AccordionPanelTab {
	background: url(images/filterOption_closed.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background: url(images/filterOption_open.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}


/*------------------------------ SUB MENU ACCORDION STYLES -----------------------------------*/
.AccordionPanelContent li .AccordionPanel_SubItem{
	overflow: hidden;
	float:left;
	width:200px;
}
.AccordionPanelTab_SubItem {
	background: url(images/arrow_blue_accordSubItem_closed.gif) no-repeat transparent right center;
	margin: 0px;
	padding: 5px 5px 5px 25px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	font-size:12px;
	font-weight:bold;
	color:#2aabe4;
	float:left;
	width:170px;
	border-bottom:1px solid #6a6a6a;
}
.AccordionPanelContent_SubItem {
	overflow: auto;
	margin: 0px;
	padding: 0px;
}
			/*-------------- SUB MENU ACCORDION UL LI FOR ACCORDION START HERE -------------*/
				.AccordionPanelContent_SubItem{
					margin:0;
					width:100%;
					float:left;
					background-color:#363636;
				}
				
				.AccordionPanelSubItem .AccordionPanelContent_SubItem ul {margin: 0;padding:0;list-style-type: none;}
				.AccordionPanelSubItem .AccordionPanelContent_SubItem li {margin:0;padding: 0; cursor:pointer;}
				.AccordionPanelSubItem .AccordionPanelContent_SubItem ul li a.up {
					display: block;
					background: url(images/arrow_mini.gif) no-repeat left center #000;
					padding:3px 5px 3px 35px;
					color:#fff;
					font-size:12px;
					text-decoration:none;
					font-weight:normal;
				}
				.AccordionPanelSubItem .AccordionPanelContent_SubItem ul li a.down {	
					display: block;
					padding:5px 5px 4px 35px;
					text-decoration: none;
					border-bottom:1px solid #676767;
					font-weight:normal;
				}
				.AccordionPanelSubItem .AccordionPanelContent_SubItem ul li a.down:hover {
					display: block;
					background: url(images/arrow_mini.gif) no-repeat left center #000;
					padding:5px 4px 4px 35px;
					text-decoration:none;
					border-bottom:1px solid #b5b5b5;
				}
			/*-------------- SUB MENU ACCORDION  UL LI FOR ACCORDION END HERE -------------*/
			
.AccordionPanel_SubItemOpen .AccordionPanel_SubItemTab {
	background: url(images/filterOption_open.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionPanel_SubItemTabHover {
	background: url(images/filterOption_hover.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionPanelContent ul li .AccordionPanelSubItem .AccordionPanel_SubItemTabHover {
	background: url(images/arrow_blue_accordSubItem_open.gif) no-repeat #000 right center;
	margin: 0px;
	padding: 5px 5px 5px 25px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	float:left;
	width:170px;
}
.AccordionPanel_SubItemOpen .AccordionPanel_SubItemTabHover {
	background: url(images/filterOption_closed.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.Accordion_SubItemFocused .AccordionPanel_SubItemTab {
	background: url(images/filterOption_closed.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionFocused .AccordionPanel_SubItemOpen .AccordionPanel_SubItemTab {
	background: url(images/filterOption_open.gif) repeat-x top #b6b6b6;
	margin: 0px;
	padding: 5px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.AccordionPanelTab_SubItem .AccordionPanel_SubItemTabHover {
	background: url(images/arrow_blue_accordSubItem_open.gif) no-repeat #000 right center;
	margin: 0px;
	padding: 5px 5px 5px 25px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	font-size:12px;
	font-weight:bold;
	color:#0175b2;
	float:left;
	width:170px;
}









.OD_filter .cats{
	margin:0;
	width:100%;
	float:left;
}

.OD_filter .cats ul {margin: 0;padding:0;list-style-type: none;}
.OD_filter .cats li {margin:0;padding: 0; cursor:pointer;}
.OD_filter .cats a.up {
	display: block;
	background: url(images/fitler_arrow.gif) no-repeat left #fff;
	padding:5px 7px 5px 23px;
	color:#000;
	font-size:12px;
	text-decoration:none;
}
.OD_filter .cats a.up1 {
	display: block;
	background-color: #fff;
	padding:5px;
	color:#000;
	font-size:12px;
	text-decoration:none;
}
.OD_filter .cats a.down {	
	display: block;
	padding:5px;
	text-decoration: none;
}
.OD_filter .cats a.down:hover {
	background-color: #fff;
	text-decoration:none;
}
.OD_filter .cats a.down1 {	
	display: block;
	padding:5px;
	text-decoration: none;
	background-color:#f2f2f2;
}
.OD_filter .cats a.down1:hover {
	background-color: #fff;
	text-decoration:none;
}


.OD_filter .alphabet{
	width:186px;
	float:left;
	color:#444;
	margin-bottom:10px;
	padding:7px;
	background-color: #fff;
}

.alphabet a.letter_down {
		border: 1px solid #c7c7c7;
		padding:0 0 3px 3px;
		margin:2px 2px;
		font-weight:normal;
		text-decoration:none;
		font-size:10px;
		color:#9d9d9d;
		background-color:#fff;
		display:block;
		width:11px;
		height:11px;
		float:left;
	}
	.alphabet a.letter_down:hover {
		font-weight:normal;
		background-color:#2d2d2d;
		color:#fff;
		text-decoration:none;
	}
	.alphabet a.letter_up {
		border: 1px solid #c7c7c7;
		padding:0 0 3px 3px;
		margin:2px 2px;
		font-weight:normal;
		text-decoration:none;
		font-size:10px;
		/*color:#9d9d9d;*/
		color:#fff;
		/*background-color:#fff;*/
		background-color:#2d2d2d;
		display:block;
		width:11px;
		height:11px;
		float:left;
	}
.dropDownSelect{
	width:188px;
	height:17px;
	border:1px solid #7d7d7d;
	float:left;
	background-color:#fff;
}
.dropDownSelect .txt{
	float:left;
	margin:1px 5px 2px 4px;
	color:#7e7e7e;
	font-size:12px;
	
}
.dropDownSelect .downArrow{
	float:right;
	width:15px;
	height:17px;
}
.filterSearchBG{
	width:190px;
	background-color:#fafafa;
	padding:5px;
	margin-bottom:10px;
	float:left;
}
.filterSearchBG .txtField{
	border:1px solid #878787;
	width:188px;
	height:16px;
	font-size:12px;
	color:#7f7f7f;
	background-color:#fff;
}
.btns{
	width:155px;
	float:left;
	text-align:center;
	padding-left:45px;
}

.filterResult_logoHdrTop{
	float:left;
	width:100%;	
}
.filterResult_logoHdrTop .txt{
	font-size:12px;
	color:#b4b4b4;
	/*margin:0 15px 5px 0;*/
	float: left;
	/*padding-top:57px;*/
}

.divider{
	width:100%;
	height:1px;
	float:left;
}
/* --------------- FLASH VID PLAYER BB STYLES --------------- */
.vidRelated{
	float:left;
	width:180px;  /* --------------- RICH --------------- */
	margin:15px 10px 0 0;
	color:#bdbdbd;
}


.padding90px{
	height:90px;
	display:block;
}

.bbIcons_wrap{
	float:left;
	margin:20px 0 0 20px;
	width:135px;
	letter-spacing:-0.5px;
}
.bbIcons {
	float:left;
	margin:5px 0;
}
.bbIcons a{
	font-size:12px;
	color:#fff;
	font-weight:normal;
}
.bbIcons a:hover{
	font-size:12px;
	color:#fff;
	font-weight:normal;
	text-decoration:underline;
}
.vidClipInfo{
	line-height:18px;
	font-size:12px;
	float:left;
	color:#333;
}
.vidClipInfo .infoTtls{
	color:#909090;
}
.black_overlay{
      display: none;
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index:5;
      -moz-opacity: 0.8;
      opacity:.80;
      filter: alpha(opacity=80);
}
/* ------------------- SHOW BB STYLES ------------------ */
.show_bb{
	width:100%;
	background:url(images/bb_bg.gif) repeat-x bottom #1a1a1a;
	float:left;
	
}
.bb_content{
	width:980px;
	margin:0 auto;
	background:url(images/bb_bg.gif) repeat-x bottom #1a1a1a;
	float:left;
}
.bb_content .flash_bb{
	width:620px;
	height:250px;
	float:left;
}
.bb_content .AboutShow{
	float:left;
	margin-left:20px;
	padding:10px 0 0 0;
	color:#d8d8d8;
	font-size:11px;
}
.showTitle{
	font-size:24px;
	color:#fff;
	font-weight:bold;
	padding:3px 0;
	line-height:24px;
}
.hr_dotlineBB{
	background:url(images/showbb_hr_dotline.gif) repeat-x center;
	height:20px;
	padding:7px 0;
}
.AboutShow .chnls a{
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.AboutShow .chnls a:hover{
	font-size:14px;
	font-weight:bold;
	text-decoration: underline;
}
.AboutShow .times{
	font-size:16px;
	color:#fff;
}
.rated-rating{
	font-size:11px;
	color:#fff;
	float:left;
}
.rated-rating a{
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}
.rated-rating a:hover{
	font-size:12px;
	text-decoration: underline;
}
.rated-rating .iconss{
	padding-right:3px;
}


/* --------------------- NEWS ARTICLE STYLES ------------------- */
.dateComment {
	font-size:11px;
	color:#999;
	margin-bottom:8px;
	float:left;
}
.dateComment a{
	width:100%;
	font-size:11px;
	font-weight:normal;
}
.article{
	width:100%;
	float: left;
	margin-bottom:20px;
	line-height:18px;
}
.articleHead{
	font-size:26px;
	line-height:22px;
	font-weight:bold;
	color:#444;
	float: left;
	letter-spacing:-0.5px;
	padding-bottom:2px;
}


.article .articleImg{
	margin: 0 20px 20px 0;
	float:left;
}
.article .tags{
	font-size:11px;
	width:100%;
	float:left;
	margin-top:15px;
}
.article .tags a{
	font-size:11px;
	font-weight:normal;
}
.article .share{
	width:608px;
	height:18px;
	padding:6px;
	background-color:#f2f2f2;
	color:#a3a3a3;
	font-size:11px;
	float:left;
	text-align:right;
	margin-top:20px;
}

/* ------------------------ COMMENT STYLES ------------------ */
.commentTxtArea{
	width:594px;
	height:75px;
	border:1px solid #767676;
	margin:8px;
	font-family:arial;
	font-size:12px;
	color:#626262;
	padding:4px;
}
.commentAreaOuter{
	width:620px;
	float:left;
	background-color:#f5f5f5;
	float:left;
}


.btns {
	float:right;
	text-align:right;
}

.comments{
	width:100%;
	float:left;
	margin-bottom:15px;
}
.commentsHead{
	font-size:18px;
	color:#585858;
	padding:0 0 6px 0;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:15px;
	float: left;
	display:block;
	line-height:20px;
}
.comments .date{
	font-size:11px;
	color:#999;
}
.comments .profPic{
	width:81px;
	height:66px;
	margin-right:9px;
}
.comments .bubbleLeft{
	width:18px;
	background:url(images/hr_verticle.gif) repeat-y right;
}
.comments .bubbleTop{
	width:498px;
	height:1px;
	background:url(images/hr_horizontal.gif) repeat-x top;
}
.comments .bubbleRight{
	width:1px;
	background:url(images/hr_verticle.gif) repeat-y right;
}
.comments .bubble{
	padding:9px;
	font-size:11px;
	background:url(images/hr_horizontal.gif) repeat-x bottom;
	line-height:14px;
	vertical-align:top;
}
/* ----------------------- PAGING STYLES -------------------- */

.paging{
	width:100%;
	float: right;
	color:#c1c1c1;
	padding-bottom:2px;
	font-size:12px;
	text-align:right;
}

.paging a.page_down {
		padding: 1px 5px;
		margin:1px;
		font-weight:normal;
		color:#2aabe4;
		border:1px solid #6c6c6c;
		font-size:12px;
		background-color:#1d1d1d;
	}
	.paging a.page_down:hover {
		background-color:#1d1d1d;
		color:#fff;
		border:1px solid #fff;
		margin:1px;
		text-decoration:none;
		font-weight:normal;
	}
	.paging a.page_up {
		padding: 1px 5px;
		margin:2px;
		font-weight:normal;
		color:#fff;
		font-size:12px;
		background-color:#5b5b5b;
		border:1px solid #5b5b5b;
	}



.commentSearch{
	width:312px;
	height:20px;
	background-color:#f5f5f5;
	padding:7px;
	float:left;
}
.commSearch{
	float:left;
	width:240px;
	height:16px;
	border:1px solid #c6c6c6;
	font-size:12px;
	color:#444;
}
.commentTopics{
	float:left;
	margin-bottom:20px;
	width:100%;
}
.tableHrds{
	border-bottom:3px solid #fff;
	color:#000;
	background-color:#e5e5e5;
}
.darkTD{
	color:#fff;
	background-color:#b7b7b7;
	border-left:3px solid #fff;
	border-right:3px solid #fff;
}
/* ----------------------- SEARCH RESULTS PAGE ---------------- */
.searchFilterWrapper{
	float:left;
	width:240px;
}

.searchFilterHdr{
	background:url(images/filter_hdr_bg.gif) repeat-x #e0e0e0;
	width:190px;
	padding:5px;
	font-size:15px;
	color:#3c3c3c;
	float:left;
	border:1px solid #dcdcdc;
}
.searchResultBtn{
	background:url(images/filter_hdr_bg.gif) repeat-x #e0e0e0;
	width:110px;
	padding:5px;
	font-size:15px;
	color:#3c3c3c;
	float:right;
	border:1px solid #dcdcdc;
}
.searchBlck{
	width:190px;
	background-color:#c9c9c9;
	padding:5px;
	float:left;
}
.searchBlck .searchInput2 {
      border:1px solid #7e7e7e;
      width:165px;
      height:15px;
      color:#999;
      float:left;
      background-color:#fff;
}
.searchIcon2{
	float:left;
	width:23px;
	height:19px;
}
.searchHead{
	color:#000;
	font-size:26px;
	float:left;
	width:940px;
	font-weight:bold;
	margin:5px 10px 10px 10px;
	vertical-align:middle;
	line-height:24px;
}
.searchHead a{
	font-size:24px;
}
.searchHead a:hover{
	text-decoration:none;
}
.searchProgram {
	width:100%;
	float:left;
	margin-bottom:5px;
}
.searchProgram .timeBlock{
	width:45px;
	height:39px;
	padding:20px 0 0 10px;
	background:url(images/TVGuide_chnl_bg.gif) repeat-x;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	margin-right:5px;
	float:left;
}

/* ----------------------- REGISTER PAGE STYLES ---------------- */
.errorTxt{
	color:#cc0000;
	width:100%;
	margin:5px 0;
	line-height:normal;
}
.errorTxt a{
	color:#cc0000;
	width:100%;
	line-height:normal;
}
.errorStar{
	color:#c30101;
	margin:5px;
	line-height:normal;
}
.errorMsg{
	color:#c30101;
	float:left;
	margin:10px 0 5px 5px;
	font-size:13px;
}
.regInputBox{
	background: repeat-x url(images/regInput_bg.gif) #efefef;
	border:1px solid #d4d4d4;
	width:213px;
	height:15px;
	padding:2px;
	margin:0 3px 3px 0;
}
.regInputBox2{
	background: repeat-x url(images/regInput_bg.gif) #efefef;
	border:1px solid #d4d4d4;
	width:156px;
	height:15px;
	padding:2px;
	margin:1px 1px 3px 0;
}
.regSelect{
	background: repeat-x url(images/regInput_bg.gif) #efefef;
	border:1px solid #d4d4d4;
	width:217px;
	padding:2px;
}

/* Z-index of #mask must lower than #boxes .window */
#mask
{
    position: absolute;
    z-index: 55;
    background-color: #ffffff;
    display: none;
}
.loginPanel
{
    position: fixed;
    display: none;
    z-index: 100;
    border:1px solid #626262;
    display: none;
    width: 600px;
    background-color: #ffffff;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog
{
    width: 600px;
    padding: 10px;
    background-color: #ffffff;
}


.blockFull{
	width:940px;
	margin:20px auto;
}
.TandC{
	float:left;
}
.TandC ol{ list-style:none;}
.TandC li{ list-style:none;}



/*---------------- HOMEPAGE TV LISTING BEGIN ------------------- */
.TVL{
	width:620px;
}
.TVL_headlayout{
	float:left;
}
.TVL_head{
	height:40px;
	background-color:#0576b1;
	float:left;
}
H1.TVL_head{
	width:150px;
	font-size:24px;
	color:#fff;
	line-height:40px;
	padding-left:10px;
	padding-right:2px;
}
.TVL_headright{
	width:450px;
	height:40px;
	color:#fff;
	background-color:#0d92c4;
	border-left:1px solid #fff;
	float:right;
}
.TVL_headright a{
	color:#fff;
}
.TVL_headright .dropDown{
	border:1px solid #2f4e5c;
	display:block;
	color:#000;
	background-color:#fff;
	width:140px;
}
.TVL_cat{
	width:100%;
	background-color:#f5f5f5;
	display:block;
	padding:0;
	float:left;
}
.TVL_item{
	width:296px;
	display:block;
	padding-left:15px;
	padding-top:15px;
	vertical-align:top;
	float:left;
}
.TVL_item .time{
	float:left;
	font-size:11px;
	color:#333;
}
.TVL_item a.channel{
	float:left;
	font-size:11px;
	font-weight:normal;
	color:#0175b2;
}
.TVL_item a:hover.channel{
	float:left;
	font-size:11px;
	font-weight:normal;
	color:#0175b2;
}
.TVL_item .info{
	font-size:12px;
	color:#626262;
	line-height:15px;
	padding:5px 0 15px;;
	max-width:170px;
	display:block;
	overflow:hidden;
	word-wrap: break-word; 
}
.TVL_cathead{
	display:block;
	width:100%;
	float:left;
}
.TVL_catimg{
	display:block;
	vertical-align:absmiddle;
	float:left;
}


.TVL_item .thumb{
	width:110px;
	height:83px;
	margin-right:10px;
}
.TVL_item .title a{
	font-size:16px;
	font-weight:bold;
	color:#0175b2;
	text-decoration:none;
	line-height:18px;
	max-width:170px;
	display:block;
	overflow:hidden;
	word-wrap: break-word;
}
.TVL_item .title a:hover{
	font-size:16px;
	font-weight:bold;
	color:#2aabe4;
	text-decoration: underline;
	max-width:170px;
	display:block;
	overflow:hidden;
	word-wrap: break-word;
}
.TVL_list{
	width:285px;
	display:block;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	line-height:14px;
	float:left;
	overflow:hidden;
}

/* LIST HOME NB */
.TVL_list ul {margin: 0;padding: 0;list-style-type: none;}
.TVL_list li {background: none;text-align: left;}

.TVl_litem{
	width:176px;
	overflow:hidden;
	color:#0175b2;
	font-weight:bold;
	float:left;
	line-height:13px;
}
.TVL_list .channel{
	float:left;
	font-size:10px;
	font-weight:normal;
	color:#0175b2;
	line-height:10px;
	word-spacing:-1px;
	max-width:108px;
	padding-bottom:5px;
}
.TVl_dtch{
	float:left;
	vertical-align:top;
}
.TVl_ldate{
	font-size:11px;
	word-spacing:-1px;
	vertical-align:top;
}
/* ---------------- HOMEPAGE TV LISTING END ------------------- */

/* ---------------- COMPETITIONS BEGIN -------------------- */
.comp{
	width:620px;
}

.comp_item{
	display:block;
	padding-right:20px;
	float:left;
}
.comp_list{
	width:300px;
	display:block;
	line-height:21px;
	padding-bottom:10px;
	float:left;
}
.comp_litem{
	width:300px;
	max-height:22px;
	overflow:hidden;
	float:left;
}

/* ---------------- COMPETITIONS END -------------------- */

/* ---------------- COMPETITION PAGE BEGIN -------------------- */
.comp{
	width:620px;
	float:left;
	vertical-align:top;
}
.comp .ques{
	font-family:arial;
	font-size:16px;
	color:#565656;
	line-height:20px;
	background-color:#e9f5fa;
	padding:10px;
}
.comp .qNo{
	font-family:arial;
	font-size:22px;
	color:#0175b2;
	padding-right:5px;
}
.comp .ans{
	font-family:arial;
	font-size:12px;
	color:#565656;
	line-height:20px;
	padding:10px;
}
.radButton{
	height:20px;
	vertical-align:middle;
}

/* ---------------- COMPETITION PAGE END -------------------- */

.titles{
	width:100%;
	float:left;
}

/* ---------- GLOBAL STYLES ---------- */
a, img {
	border:0;
}

/* ----------------------------- TOOLTIPS ---------------------------------*/
* {margin:0; padding:0;}

.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer; z-index:2000;}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat; z-index:2000;}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden; z-index:2000;}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF; z-index:2000;}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden; z-index:2000;}




/*------------------------------------------------------ NEW ON DEMAND RELATED STYLES <LOUISE> ----------------------------------------*/
.lrgTabs{
	width:962px;
	padding:5px 9px;
	float:left;
	background:url(images/lrgTabs_bg.jpg) repeat-x top #393939;
	overflow:hidden;
	display:block;
	color:#fff;
	font-weight:bold;
}
.lrgTabs .divider{
	float:left;
	width:1px;
	height:140px;
}
/*---------- VIDEO STYLES ------------*/
.vidPlay_bg{
	width:980px;
	background:url(images/vid_bg.jpg) repeat-x #1c1c1c;
	float:left;
}
.vidPlayer1{
	float:left;
	margin-top:3px;
	text-align:center;
	width:640px;
	z-index: 5000;
}
.vidPlayerImage
{
	border:10px solid #000 !important;
	width:620px;
	overflow:hidden;
}
.vidPlayer1-shows{
	float:left;
	width:640px;
	height:480px;
	background-color:#000;
	border-top:10px solid #000;
	border-right:12px solid #000;
	border-bottom:10px solid #000;
	border-left:10px solid #000;
}
.box140{
	margin:15px 10px 0 10px;
	color:#fff;
	float:left;
	width:140px;
	padding-bottom:15px;
}
.box140 a{
	color:#fff;
}
.hr_blckONwht{
	background: url(images/hr_blckONwht.gif) repeat-x;
	height:1px;
	width:100%;
	float:left;
	margin:10px 0 2px 0;
	display:block;
	overflow:hidden;
}
.white22, .CuShowTitle{
	font-size:22px;
	line-height:23px;
	color:#fff;
	font-weight:bold;
	margin-bottom:10px;
}
.white22 a:hover{
	color:#0175B2;
	text-decoration:none;
}

.CuShowTitle:hover 
{
    color: #2AABE4;
    text-decoration: none;
    cursor: pointer;
}

.white18{
	font-size:18px;
	font-weight:bold;
	float:left;
	color:#fff;
	line-height:17px;
}
.white18 a{
	color:#fff;
	font-size:18px;
}
.white18 a:hover{
	color:#fff;
	text-decoration:underline;
}
.crewName{
	color:#c1c1c1;
	font-weight:bold;
}
.crewName a{
	color:#c1c1c1;	
	font-weight:bold;
}
/*---------- BROWSE VIDEO STYLES ------------*/
.hdrWht24{
	font-size:22px;
	font-weight:normal;
	color:#fff;
	line-height:22px;
	margin:15px 20px;
}


.vidFilter{
	width:672px;
	padding:0px 0px 8px 14px;
	color:#ffffff;
	float:left;
	margin-bottom:20px;
}

.noVideoMessage
{
    padding-top:5px;
    padding-bottom:10px;
    padding-left:15px;
    float:left;
    width:660px;
    color:#c1c1c1;
    
}

/*---------- TOP 5 TOP 10 LISTING STYLES ------------*/
.topList{
	float:left;
	width:300px;
	margin:0;
}
.topList .expTextHdr{
	float:left;
	font-size:11px;
	color:#999;
	margin-left:414px;
}
.topList .expTextHdr2{
	float:left;
	font-size:11px;
	color:#999;
	margin-left:360px;
}
.topList ul {margin: 0;padding: 0;list-style-type: none;}
.topList li {margin: 0;padding: 0;float: left; border-bottom:1px solid #6a6a6a;}
.topList li {background:transparent none;}
.topList a.listItem {	
	display: block;
	color:#2aabe4;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	width:280px;
	min-height:15px;
	padding:5px 10px;
	overflow:hidden;
}
.topList a.listItem2 {	
	display: block;
	color:#0175b2;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	width:440px;
	height:15px;
	padding:5px 10px;
}
/* RICH - 09-08-2010*/
.topList a.listItem:hover {
	background: #000;
	text-decoration:underline;
	color:#fff;
    display:block;
}
.topList .iconArrow{
	float:left;
	width:13px;
	height:13px;
}
.topList .listDesc{
	width:200px;
	float:left;
	overflow:hidden;
	margin:0 5px;
}
.topList .expDate{
	float:right;
	width:55px;
	font-size:11px;
}

/* RICH - 09082010 */
/*---------- BASIC LISTING STYLES ------------*/
.basList{
	float:left;
	padding-left:15px;
	color:#c1c1c1;
}
.basList ul {margin: 0;padding: 0; list-style-type:disc;}
.basList li {margin: 0;padding: 0; color:#c1c1c1;}

/*------------ 3 COLUMN LAYOUT ------------*/
.cols3{
	width:960px;
	float:left;
	margin:20px 10px;
}
.latestItem{
	float:left;
	height:100px;
	width:100%;
}
	
  /*----------------------------------------------------------------------------------------------------------------------------------------------*/
 /*---------------------------------------------------------------------- BOX OFFICE STYLES -----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.global_header .headerContent-BO {
	width:980px;
	height:118px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	background:url(images/headerbg.jpg) repeat-x top;
}
.block980_bg-BO{
	width:980px;
	margin:0;
	float:left;
	background:url(images/homebg-BO.jpg) no-repeat #000 top;
}
.topList .expTextHdr2{
	float:left;
	font-size:11px;
	color:#999;
	margin-left:252px;
}
.grey16{
	font-size:16px;
	float:left;
	color:#ffffff;
	margin-top:19px;
}

.link-boxOffice a:hover{color:#5cb65c;}
.link-catchUp {font-size:16px;line-height:18px;}
.link-catchUp a{color:##fff; font-size:16px;line-height:18px;}
.link-catchUp a:hover{
	color:##0175B2;
	text-decoration:none;
}
/*-------- PROMO NEXT TO FLASH  -----------*/
/* RICH */
.promo-BO{
	float:left;
	width:300px;
	margin:44px 0 0 5px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.promo_hdr{
	font-size:34px;
	float:left;
	margin-bottom:5px;
}
.promoPrice{
	color:#5cb65c;
	font-size:28px;
	line-height:29px;
	font-weight:normal;
	margin:0 0 5px 0;
	float:left;
	width:150px;
}
.promoTime{
	color:#5cb65c;
	font-size:20px;
	line-height:27px;
	font-weight:normal;
	margin: 5px 0 6px 0;
	float:left;
}
.greenTXT{
	color:#5cb65c;
	font-size:20px;
}
.promo-BO .promoList-BO{
	float:left;
	width:100%;
}
.promo-BO .promoList-BO ul{
	margin:0 0 0 6px;
	list-style-type: disc;
}
.promo-BO .promoList-BO li {
	margin: 0 0 5px 10px;
	padding: 0;
	list-style-type:disc;
}
.promo-BO  a.boxOffice{
	color:#5cb75c;
	text-decoration:none;
}
.promo-BO  a.boxOffice:hover{
	color:#278942;
	text-decoration:none;
}
/* RICH */
.thumb-boxOffice{
	width:140px;
	height:80px;
	margin:0 10px 8px 0;
	vertical-align:top;
	position:relative;
}
.thumb-BO{
	width:140px;
	height:80px;
}
.thumb-boxOffice .vid-time{
	position:absolute;
	z-index:1;
	float:right;
	background:#444;
	color:#fff;
	font-size:9px;
	padding:1px 3px;
	margin:2px;
}
.thumb-boxOffice a span
{
	width:140px;
	height:80px;
	background: url(images/icon_play-boxOffice.png) no-repeat;
	position:absolute;
	overflow:hidden;
	display:block;
}
.thumb-boxOffice a span:hover
{
    background:url(images/icon_playOver-boxOffice.png) no-repeat;
}
.boSignup{
	background-color:#4e4e4e;
	vertical-align:middle;
	text-align:center;
	padding:18px 12px 18px 12px;
	margin:8px;
}
.boSignupTxt{
	font-size:18px;
	font-weight:normal;
	color:#fff;
}



  /*----------------------------------------------------------------------------------------------------------------------------------------------*/
 /*---------------------------------------------------------------------- CATCH UP STYLES -------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.block980_bg-CU{
	width:980px;
	margin:0;
	float:left;
}

.link-catchUp a:hover
{
    color:#2aabe4;
}
/*-------- PROMO NEXT TO FLASH  -----------*/
.promo-CU{
	float:left;
	width:300px;
	margin:40px 0 0 5px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}

  .catchUp a{
	color:#2aabe4;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	line-height:24px;
}

  .catchUp a:hover{
	color:#ffffff;
	text-decoration: underline;
}

.promo-CU  .catchUpQE{
	color:#ffffff;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}

.catchUp_blueTxt{
	color:#2aabe4;
}
.promo_hdr{
	font-size:34px;
	float:left;
	margin-bottom:5px;
}
.promo-CU .promoList-CU{
	float:left;
	width:100%;
	margin-top: 8px;
}
.promo-CU .promoList-CU ul{
	margin:0 0 0 6px;
	list-style-type: disc;
}
.promo-CU .promoList-CU li {
	margin: 0 0 5px 10px;
	padding: 0;
	list-style-type:disc;
}
.promo-CU  a.catchUp{
	color:#2aabe4;
	text-decoration:none;
}
.promo-CU  a.catchUp:hover{
	color:#2aabe4;
	text-decoration:none;
}



.thumb-catchUp{
	width:140px;
	height:80px;
	margin:0 10px 8px 0;
	position:relative;
}
.thumb-catchUp .vid-time{
	position:absolute;
	z-index:1;
	float:right;
	background:#444;
	color:#fff;
	font-size:9px;
	padding:1px 3px;
	margin:2px;
}
.thumb-catchUp a span
{
    width:140px;
    height:80px;
    background: url(images/icon_play-catchUp.png) no-repeat;
    position:absolute;
    overflow:hidden;
    display:block;
}
.thumb-catchUp a span:hover
{
    background:url(images/icon_playOver-catchUp.png) no-repeat;
}



  /*----------------------------------------------------------------------------------------------------------------------------------------------*/
 /*---------------------------------------------------------------------- OPEN TIME STYLES ------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.block980_bg-OT{
	width:980px;
	margin:0;
	float:left;
	background:url(images/homebg-OT.jpg) no-repeat #0e0e0e bottom;
}

.link-openTime a:hover
{
    color:#eac223;
}
/*-------- PROMO NEXT TO FLASH  -----------*/
.promo-OT{
	float:left;
	width:300px;
	margin:48px 0 0 5px;
	color:#fff;
	font-size:12px;
	font-weight:bold;
}
.promoPrice-OT{
	color:#eac223;
	font-size:26px;
	line-height:27px;
	font-weight:normal;
	margin: 5px 0 20px 0;
	float:left;
}
.promo-OT .promoList-CU{
	float:left;
	width:100%;
}
.promo-OT .promoList-OT ul{
	margin:0 0 0 5px;
	list-style-type: disc;
}
.promo-OT .promoList-OT li {
	margin: 0 0 5px 10px;
	padding: 0;
	list-style-type:disc;
}
.promo-OT  a.openTime{
	color:#eac223;
	text-decoration:none;
}
.promo-OT  a.openTime:hover{
	color:#eac223;
	text-decoration:none;
}
.thumb-openTime{
	width:140px;
	height:80px;
	margin:0 10px 8px 0;
	position:relative;
}
.thumb-openTime .vid-time{
	position:absolute;
	z-index:1;
	float:right;
	background:#444;
	color:#fff;
	font-size:9px;
	padding:1px 3px;
	margin:2px;
}
.thumb-openTime a span
{
    width:140px;
    height:80px;
    background: url(images/icon_play-openTime.png) no-repeat;
    position:absolute;
    overflow:hidden;
    display:block;
}
.thumb-openTime a span:hover
{
    background:url(images/icon_playOver-openTime.png) no-repeat;
}

.featChnls{
	float:left;
	width:300px;
	margin-bottom:10px;
}
.featChnls .chnl_icons{
	width:100px;
	height:56px;
	float:left;
	border-bottom:1px solid #f0f0f0;
	margin-top:3px;
}


/*Article Page*/
.socialMedia
{
	background-color: #f3f3f3; 
	text-align: right; 
	padding-bottom:10px;
}

.activeAvatar
{
	border: solid 3px #125dc2;
}

#article .articleImage
{
	float: left; 
	padding-right: 10px; 
	padding-bottom: 10px;
	padding-top: 0px; 
	clear:both;
}

.metadata
{
	color: #999999;	
}

#article .author,.contentFooter .author
{
	color: #666666;
	font-weight: bold;
}

.greyContentArea
{
	background-color: #f2f2f2;
}

#newsHeadlines div
{
	padding-left:10px;
}

#newsHeadlines
{
	padding-top:10px;
}
.articleHdr
{
    font-size: 23px;
    color: #333;
    font-weight: bold;
	padding:0;
    margin: 0 0 10px 0;
	line-height:22px;
}
.dotted
{
	color: #fff; 
	background-color: Transparent;
	 border: 1px dotted #ccc; 
	 border-style: none none dotted;
}
/* WALLET */ 
.walletHead{    
	width:550px;
	padding:5px;
	float:left;
	background-color:#f5f5f5;
} 
.walletBox{
	text-align:center;
	width:560px;
	padding:7px;
	vertical-align:top;
	background-color:#fff;
	border:1px solid #d6d6d6;
	float:left; 
} 
.balanceTxt{
	text-align:center;
	width:100%;
	font-size:18px;
	color:#585858;
	float:left; 
} 
.balance{
	color:#339933;
	display:inline; 
} 
.greyBox{
	max-width:110px;
	text-align:center;
	padding-bottom:15px;
	padding-top:15px;
	padding-left:20px;
	padding-right:20px;
	background-color:#f1f2f5; 
} 
.topupTitle{
	font-size:21px;
	color:#585858;
	font-weight:normal;
	letter-spacing:-0.5px;
	padding-bottom:15px;
}
/*---------- NAME LIST ------------*/
.nameList{
	float:left;
	width:240px;
	margin:10px 0px;
}
.nameList ul {margin: 0;padding: 0;list-style-type: none;}
.nameList li {margin: 0;padding: 0;float: left; border-bottom:1px solid #f0f0f0;}
.nameList li {background:#fafafa none;list-style-type: none;}
.nameList a.listItem {	
	display: block;
	color:#0175b2;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
	width:240px;
	height:15px;
	padding:5px 10px;
}
.nameList a.listItem:hover {
	background: url(images/nameList_bg.jpg) #ffffff repeat-x bottom;
	text-decoration:underline;
	color:#454545;
}

.vidDetails_sml{
	font-size:9px;
	color:#eee;
	display:block;
	float:left;
}

.vidDetails_sml a{
	font-size:10px;
}
/*------------------ LIGHTBOX ERROR STYLES -----------------*/
.lb_global_wrapper{
	width:430;
	margin:0 auto;
	position: relative;
	padding: 0;
}

.lb_err_dotLine {
background:url(/app_themes/onDemand/images/LightboxBG.gif) repeat-x scroll 0 0 transparent;
float:left;
height:1px;
margin:10px 0;
width:100%;
}

.lb_errBg{
	width:430px;
	text-align:center;	
	vertical-align:middle;
}

.lb_errBg a
{
	color:#2aabe4;
}

.lb_errBg a:hover
{
    text-decoration:underline;
	color:#2aabe4;
}

.lb_errDisplay {
	max-width:430px;
	width:430px;
}
.lb_errMsg{
	font-size:20px;
	color:#626262;
	font-weight:normal;
	float:left;
	padding-left:25px;
	padding-top:35px;
}

.lb_errMsg1{
	font-size:20px;
	color:#333;
	font-weight:normal;
	float:left;
	padding-top:35px;
}

.lb_errTxt{
	font-size:16px;
	color:#626262;
	font-weight:normal;
	padding-top:20px;
	float:left;
	padding-left:25px;

}
.lb_errTxt a{
	font-size:16px;
	color:#0175b2;
	font-weight:normal;
}
.lb_errTxt a:hover{
	font-size:16px;
	color:#0175b2;
	font-weight:normal;
}

.lb_errPoptxt
{
	color:#333;
}

.lb_closeBut{
	padding-left:15px;
	padding-top:15px;
}
.lb_line{
	padding-top:135px;
}

.colBB_sides{
	min-width:140px;
	max-width:210px;
}
.colBB_mid{
	min-width:536px;
}

fbReverse
{
    background:#000;
    min-height:30px;
}