.pageTitle
{
	text-transform:uppercase;
}

.topList .iconArrow-boxOffice{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-boxOffice.png) no-repeat;
}

.topList .iconArrow-catchUp{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-catchUp.png) no-repeat;
}

.topList .iconArrow-openTime{
	float:left;
	width:13px;
	height:13px;
	background: url(images/icon_arrowSml-openTime.png) no-repeat;
}

.topList .expTextHdr-ext{
	float:right;
	font-size:11px;
	color:#999;
	margin-right: 10px;
}

.topList .listDesc-ext{
	width:200px;
	float:left;
	overflow:hidden;
	margin:0 5px;
}
.topList .expDate-ext{
	float:right;
	width:55px;
	font-size:11px;
	text-align: right;
}
.topList .expDateRental{
	float:right;
	width:55px;
	font-size:11px;
	text-align: right;
}

.vid-thumb
{
	width:110px;
	height:83px;
	border-style:none;
}