.box140{
	width:170px;
	float:left;
	margin:20px;
	color:#eee;
}
.box140 a:hover{
	color:##0175B2;
	text-decoration:none;
}
.vidPlayer1{
	width:560px;
	float:left;
	height:300px;
	border:0px;
	margin-top:3px;
}
.vidPlayerImage{
	width:560px;
	height:300px;
	border:0px !important;
}
.vidPlayer1-shows{
	float:left;
	width:640px;
	height:480px;
	background-color:#000;
}


  /*----------------------------------------------------------------------------------------------------------------------------------------------*/
 /*------------------------------------------------------------------------- LOST ---------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.block980_bg-lost{
	width:980px;
	margin:0;
	float:left;
	background: url(../../onDemand/app_themes/onDemand/images/shows/lost/show_bb_bg.jpg) repeat-x #1a1a1a bottom;
}
.global_header .headerContent-lost {
	width:980px;
	height:118px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	background:url(../../onDemand/app_themes/onDemand/images/shows/lost/headerbg.jpg) no-repeat top left #000;
}
.headerContent-lost .toplogo{
	float:left;
	width:91px;
	height:43px;
	margin:40px 24px 0 20px;
}