@charset "UTF-8";

/* SpryMenuBarHorizontal.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, an auto width box with no margin or padding */
ul.MenuBarHorizontal
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: default;
	width: auto;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are a fixed width */
ul.MenuBarHorizontal li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: left;
	cursor: pointer;
	float: left;
	border-right:1px solid #454545;
}
/* Submenus should appear below their parent (top: 0) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarHorizontal ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 1020;
	cursor: default;
	width: 140px;
	position: absolute;
	left: -1000em;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to auto so it comes onto the screen below its parent menu item */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
{
	left: auto;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarHorizontal ul li
{
	width: 140px;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) */
ul.MenuBarHorizontal ul ul
{
	position: absolute;
	margin: -5% 0 0 95%;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible
{
	left: auto;
	top: 0;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Submenu containers have borders on all sides */
ul.MenuBarHorizontal ul
{
	background:#0c0c0c;
}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarHorizontal a
{
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	font-family:Arial;
	text-decoration:none;
	
}
ul.MenuBarHorizontal a.nav {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:12px;
	letter-spacing:0px;
	font-family:Arial;
	text-decoration:none;
	padding:9px;
}
ul.MenuBarHorizontal a.navDOD {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:12px;
	letter-spacing:0px;
	font-family:Arial;
	text-decoration:none;
	padding:9px;
}

ul.MenuBarHorizontal a.navHome {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #bebebe;
}
ul.MenuBarHorizontal a.navGuide {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #ecaf26;
}
ul.MenuBarHorizontal a.navChnls {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #cb5209;
}
ul.MenuBarHorizontal a.navOnDemand {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #bc0901;
}
ul.MenuBarHorizontal a.navMobile {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #0978ff;
}
ul.MenuBarHorizontal a.navForum {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #0992af;
}
ul.MenuBarHorizontal a.navSales {
	display: block;
	cursor: pointer;
	color:#97dae9;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #3b800f;
}
ul.MenuBarHorizontal a.navCare {
	display: block;
	cursor: pointer;
	color:#97dae9;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #77357e;
}
ul.MenuBarHorizontal a.navCorp {
	display: block;
	cursor: pointer;
	color:#97dae9;
	font-size:13px;
	letter-spacing:-0.5px;
	font-family:Arial;
	text-decoration:none;
	padding:9px 9px 5px 9px;
	border-bottom:4px solid #bebebe;
}
ul.MenuBarHorizontal a:hover{
	background:url(images/main_nav_bg-over.gif) top repeat-x;
}



ul.MenuBarHorizontal a.subItem {
	font-family:Arial;
	font-size:12px;
	background-image: url(../../onDemand/app_themes/images/nav_sub_hr.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color:#3b0902;
	border-left:1px solid #000;
	border-right:1px solid #000;
	padding:5px 10px;
	font-weight:normal;
}
ul.MenuBarHorizontal a:hover.subItem {
	font-size:12px;
	background-image: url(../../onDemand/app_themes/images/submenu_h.gif);
	background-repeat: repeat-x;
	background-color:#3b0902;
	background-position: left top;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	padding:5px 10px;
	font-weight:normal;
}
ul.MenuBarHorizontal a.subItemLast {
	font-family:Arial;
	font-size:12px;
	background-image: url(../../onDemand/app_themes/images/nav_sub_hr.gif);
	background-repeat: repeat-x;
	background-color:#3b0902;
	background-position: left bottom;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	padding:5px 10px;
	font-weight:normal;
}
ul.MenuBarHorizontal a:hover.subItemLast {
	font-size:12px;
	background-image: url(../../onDemand/app_themes/images/submenu_h.gif);
	background-repeat: repeat-x;
	background-color:#3b0902;
	background-position: left top;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	padding:5px 10px;
	font-weight:normal;
	
}
/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{	
	/*background-image: url(images/main_nav_bg-over.gif);*/
	background-image: url(images/mainover.gif);
	background-repeat: repeat-x;
	
	/*padding-top:6px;*/
	color:#fff;
	text-decoration:none;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarHorizontal a.MenuBarItemHover, ul.MenuBarHorizontal a.MenuBarItemSubmenuHover, ul.MenuBarHorizontal a.MenuBarSubmenuVisible
{
	/*background-image: url(../images/nav_hover.gif);
	background-repeat: repeat-x;
	padding-top:6px;
	color:#b4d0fb;
	text-decoration:none;*/	
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenu
{
	background-image: url(../../onDemand/app_themes/images/nav_hr.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right:20px
}
/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenu
{
	background-image: url(../../onDemand/app_themes/images/nav_hr.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	background-color:red;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover
{
	background-image: url(../../onDemand/app_themes/images/nav_hover.gif);
	background-repeat: repeat-x;
	color:#ffffff;
	text-decoration:none;
}
/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover
{
	background-image: url(../../onDemand/app_themes/images/nav_hover.gif);
	background-repeat: repeat-x;
	color:#ffffff;
	text-decoration:none;
}

/*******************************************************************************

 BROWSER HACKS: the hacks below should not be changed unless you are an expert

 *******************************************************************************/

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
ul.MenuBarHorizontal iframe
{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		float: left;
	}
}


/*----------- ON DEMAND STYLES ---------*/
.ul.MenuBarHorizontal a.nav {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:12px;
	letter-spacing:0px;
	font-family:Arial;
	text-decoration:none;
	padding:9px;
}
ul.MenuBarHorizontal a.nav-boxOffice {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:12px;
	letter-spacing:0px;
	font-family:Arial;
	text-decoration:none;
	padding:9px;
}
ul.MenuBarHorizontal a.nav-boxOffice:hover, ul.MenuBarHorizontal a.nav-boxOffice:focus {	
	background-image: url(images/mainover.gif);
	background-repeat: repeat-x;
	color:#5cb45c;
	text-decoration:none;
}
ul.MenuBarHorizontal a.nav-catchUp {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:12px;
	letter-spacing:0px;
	font-family:Arial;
	text-decoration:none;
	padding:9px;
}
ul.MenuBarHorizontal a.nav-catchUp:hover, ul.MenuBarHorizontal a.nav-catchUp:focus {	
	background-image: url(images/mainover.gif);
	background-repeat: repeat-x;
	color:#2aabe4;
	text-decoration:none;
}
ul.MenuBarHorizontal a.nav-openTime {
	display: block;
	cursor: pointer;
	color:#FFF;
	font-size:12px;
	letter-spacing:0px;
	font-family:Arial;
	text-decoration:none;
	padding:9px;
}
ul.MenuBarHorizontal a.nav-openTime:hover, ul.MenuBarHorizontal a.nav-openTime:focus {	
	background-image: url(images/mainover.gif);
	background-repeat: repeat-x;
	color:#eac223;
	text-decoration:none;
}