﻿<%@ Page Title="Help" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="Help.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Help.Help" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
Help
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">

// TODO: This On Demand Help page is the responsibility of the DStv Online team.<br />
Included in project for testing control links and URL rewriting.<br /><br />

</asp:Content>
