﻿<%--<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Alerts.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Account.Alerts" %>

<%@ Register src="../Controls/ProfileAlerts.ascx" tagname="ProfileAlerts" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <uc1:ProfileAlerts ID="ProfileAlerts1" runat="server" />
    </form>
</body>
</html>--%>
<%@ Page Title="Alerts" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="Alerts.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Account.Alerts" %>
<%@ Register Src="~/Controls/AccountPane.ascx" TagPrefix="uc1" TagName="Alerts" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
Alerts
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:Alerts ID="UserAlerts1" runat="server" />
</asp:Content>
