﻿<%@ Page Title="BoxOffice Profile" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="BoxOffice.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Account.BoxOffice" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
<style type="text/css">


.lb_global_wrapper{
	width:430;
	margin:0 auto;
	position: relative;
	padding: 0;
}

.lb_err_dotLine {
background:url("images/hr_blckONwht.gif") repeat-x scroll 0 0 transparent;
float:left;
height:1px;
margin:10px 0;
width:100%;
}

.lb_errBg{
	background: url(/app_themes/onDemand/images/LightboxBG.gif) no-repeat;
	height:220px;
	width:430px;
}
.lb_errDisplay {
	max-width:430px;
	width:430px;
}
.lb_errMsg{
	font-size:20px;
	color:#ffffff;
	font-weight:normal;
	float:left;
	padding-left:25px;
	padding-top:35px;


}

.lb_errTxt{
	font-size:16px;
	color:#fff;
	font-weight:normal;
	padding-top:20px;
	float:left;
	padding-left:25px;

}
.lb_errTxt a{
	font-size:16px;
	color:#01a0f3;
	font-weight:normal;
}
.lb_errTxt a:hover{
	font-size:16px;
	color:#fff;
	font-weight:normal;
}
.lb_closeBut{
	padding-left:15px;
	padding-top:15px;
}
.lb_line{
	padding-top:135px;
}


</style>
BoxOffice Profile
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
   <asp:PlaceHolder ID="plcAccount" runat="server"></asp:PlaceHolder>
</asp:Content>
