﻿<%--<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Newsletters.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Account.Newsletters" %>

<%@ Register src="../Controls/Newsltrs.ascx" tagname="Newsltrs" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <uc1:Newsltrs ID="Newsltrs1" runat="server" />
    </form>
</body>
</html>--%>
<%@ Page Title="Newsletters" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="Newsletters.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Account.Newsletters" %>
<%@ Register Src="~/Controls/AccountPane.ascx" TagPrefix="uc1" TagName="Newsletters" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
Newsletters
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:Newsletters ID="UserNewsletters1" runat="server" />
</asp:Content>
