﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="DStvOnlineFlashPlayer.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Players.DStvOnlineFlashPlayer" %>

<%--<div class="padding20px" style="color: White;">
// TODO: incorporate new Flash Player User Control as curretnly being dev'd by DStv Online team.<br />
Understanding is that calling page/control will set Video Id<br /><br />
Playing video with id <asp:Literal ID="litVideoId" runat="server"></asp:Literal> (<asp:Literal ID="litVideoProgramType" runat="server"></asp:Literal>)
</div>--%>



    <div class="vidPlayer1" ><%--style="width:<%=Width %>px; height:<%=Height %>px;"--%>
        <div ><%--style="background-color: #000000; width: <%=Width %>px; height: <%=Height %>px; margin: 0 auto"--%>
            <div id="altContent">
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
                        alt="Get Adobe Flash player" style="border: 0px;" />
                </a>
            </div>           
            <script type="text/javascript">
                var flashvars = { viewwidth: '<%=Width %>', viewheight: '<%=Height %>', clientid: "za-101768", vcid: "b02", base_url: "<%=PlayFeedUrl%>?", id: "<%=VideoId %>" };
                var params = { menu: "false", scale: "noScale", allowFullscreen: "true", allowScriptAccess: "always", bgcolor: "#000000", wmode: "transparent" };
                var attributes = { id: "flashcontent" };
                swfobject.embedSWF("<%=Dstv.Online.VideoOnDemand.Website.ClassLibrary.FlashVideo.Util.ConfigValues.PlayerSwfURL %>", "altContent", "<%=Width %>", "<%=Height %>", "10.3", "http://core.dstv.com/flash/expressInstall.swf", flashvars, params, attributes);
                                      
            </script>
        </div>
    </div>