﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LargeBanner.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Advert.LargeBanner" %>
<div id="bannerAddLarge">
    <asp:Literal ID="lblAd" runat="server"></asp:Literal>

</div>


