﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SmallBanner.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Advert.SmallBanner" %>
<div id="bannerAddSmall" runat="server" clientidmode="Static">
    <asp:Literal ID="lblAd" runat="server"></asp:Literal>
    <div class="padding20px"></div>
</div>