﻿<%@ Page Title="My Accounts \ BoxOffice" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="BoxOffice.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.MyAccounts.BoxOffice" %>
<%@ Register Src="~/Controls/BoxOfficeRegistration.ascx" TagName="BoxOffice" TagPrefix="DStvConnect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
 
</asp:Content>
<%--<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
<DStvConnect:BoxOffice ID="BoxOffice1" runat="server" />
</asp:Content>--%>
<asp:Content ID="Content4" ContentPlaceHolderID="cphBody" runat="server">
   <asp:PlaceHolder ID="plcAbout" runat="server"></asp:PlaceHolder>
</asp:Content>
