﻿<%@ Page Title="My Accounts \ CatchUp" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="CatchUp.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.MyAccounts.CatchUp" %>
<%@ Register Src="~/Controls/CatchUpRegistration.ascx" TagName="CatchUp" TagPrefix="DStvConnect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
<% if (Request.QueryString["src"] != null && Request.QueryString["src"].Equals("VERIFY", StringComparison.OrdinalIgnoreCase))
   {     
        %>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1028083300;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "aoVSCKyimQIQ5Jyd6gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1028083300/?label=aoVSCKyimQIQ5Jyd6gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<%} %>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cphBody" runat="server">
  <div class="block980_bg">
        <div class="hdrWht24">
            PROFILE
        </div>
    </div>
    <div class="block960">
   <asp:PlaceHolder ID="plcAbout" runat="server"></asp:PlaceHolder>
</div>
</asp:Content>
