﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteMapVideoHierarchyB.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Video.SiteMapVideoHierarchyB" EnableViewState="false"  %>
<%@ OutputCache Duration="600" VaryByParam="None" %>
<asp:Literal ID="litTv" runat="server"></asp:Literal>

<script type="text/javascript">SetupTreeView("<%= TreeViewClientId %>");</script>