﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteMapVideoHierarchy.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Video.SiteMapVideoHierarchy"  %>
<%@ OutputCache Duration="600" VaryByParam="none" %>
<%@ Register TagPrefix="wuc" TagName="VideoTileList" Src="~/UserControls/Video/VideoTileList.ascx" %>


<asp:TreeView ID="treeVideoHierarchy" runat="server" EnableClientScript="true" ViewStateMode="Disabled" NodeStyle-CssClass="listItem" >
</asp:TreeView>


	

