.ConnectContainer .connectinputBoxes{
	padding:5px;
	background:#d9d9d9;
	width:251px;
	overflow:hidden;
	margin:5px 0;
	float:left;
}
.ConnectContainer .connectinputBoxes1{
	padding:5px;
	background-color:#d9d9d9;
	overflow:hidden;
	margin:5px 0;
	float:left;
}

.ConnectContainer .connectinputBoxes2{
	padding:5px;
	background-color:#d9d9d9; 
	width:200px;
	overflow:hidden;
	margin:5px 0;
	float:left;
}
.ConnectContainer .connectinputBoxes input{
	border:1px solid #797979;
	padding:2px;
	width:245px;
}
.ConnectContainer .connectinputBoxes1 input{
	border:1px solid #797979;
	padding:2px;
}
.ConnectContainer .connectinputBoxes select{
	border:1px solid #797979;
	padding:2px;
	width:100%;
}
.ConnectContainer .connectinputBoxes1 select{
	border:1px solid #797979;
	padding:2px;
}
.ConnectContainer .connectinputBoxes1 textarea{
    resize:none;
}
.ConnectContainer .connectinputBoxes textarea{
	border:1px solid #797979;
	padding:2px;
	width:245px;
}
.ConnectContainer .connectinputBoxes2 input{
	border:1px solid #797979;
	padding:2px;
	width:194px;
}

.ConnectContainer .connectformError{
	vertical-align:top;
	font-size:11px;
	font-weight:normal;
	color:#ff1c1c;
}

.ConnectContainer .connectuserName{
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#fff;
}

.ConnectContainer .connectsml{
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#ffffff;
}


.ConnectContainer a.connectsmlLink{
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#2aabe4;
}

.ConnectContainer a:hover.connectsmlLink {
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#fff;
}


.ConnectContainer a.connectsmlLink1{
	font-family:arial;
	font-size:12px;
	font-weight:normal;
	color:#ffffff;
	display:block;
	padding-top:5px;
}

.ConnectContainer .connectuserAvail{
	vertical-align:top;
	font-size:11px;
	font-weight:normal;
	color:#339933;
}

.ConnectContainer .connectInvalidLabel {background:#FF0000;}
.ConnectContainer .connectInvalidLabel input {background:#FFDEE2;border:solid 1px #9E1122;}
.ConnectContainer .connectInvalidLabel select {background:#FFDEE2;border:solid 1px #9E1122;}

.ConnectContainer .connectwindow {width:980px;margin:20px auto;}
.ConnectContainer .connectwindow h2 {clear:both;}

.ConnectContainer .connectmenu {padding-top:10px;clear:both;}

.ConnectContainer fieldset.connectmaction {border:solid 1px #CCDDE6;width:400px;padding-bottom:10px;}
.ConnectContainer fieldset.connectmaction legend {font:normal normal 11px/13px Arial;padding-left:3px;padding-rigth:3px;}               
.ConnectContainer fieldset.connectmaction ul {list-style-type:none;outline:none;outline:0;padding-left:10px;line-height:20px;}
.ConnectContainer fieldset.connectmaction ul li {padding-top:3px;}
.ConnectContainer fieldset.connectmaction ul li a {color:#62727A;text-decoration:none;cursor:pointer;font-size:11px;}
.ConnectContainer fieldset.connectmaction ul li a:hover {border-bottom:dashed 1px #62727A;}
.ConnectContainer fieldset.connectmaction p {height:100px;overflow:auto;color:#000;margin-bottom:1.5em;}

.ConnectContainer .connectclear {clear:both;}

.connectionfrmContainer {clear:both;padding:10px 5px;} 

.ConnectContainer .connectprMenu
{
    width: 382px;
    float: left;
}

.ConnectContainer .connectprMenuUpdated
{
    width: 191px;
    float: left;
}


.ConnectContainer .connectprMenuItem {
	vertical-align:top;
	text-align:center;
	color:#0175b2;
	float:left;
	padding-left:2px;
	padding-right:3px;
}
.ConnectContainer .connectprMenuItem a.menuActive {
	font-size:16px;
	font-weight:normal;
	color:#585858;
}
.ConnectContainer .connectprMenuItem a:hover.menuActive {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.ConnectContainer .connectprMenuItem a.menuInactive {
	font-size:16px;
	font-weight:normal;
	color:#0175b2;
}
.ConnectContainer .connectprMenuItem a:hover.menuInactive {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}

.ConnectContainer .connectformOuter{
	float:left;
	width:940px;
	margin-left:20px;
	margin-right:20px;
}


.ConnectContainer .connectform{
	float:left;
	background-color:#f7f8fa;
	border:1px solid #d0d0d0;
	padding:10px;
	display:block;
	/*margin-left:25px;*/
}


.ConnectContainer .connectformHead{
	padding-bottom:6px;
	vertical-align:middle;
}

.ConnectContainer .connectformHeadNew{
height:50px;
padding-bottom:5px;
vertical-align:bottom;
}

.ConnectContainer .connectformHeadTxt{
	font-size:18px;
	color:#0175b2;
	line-height:22px;
}

.ConnectContainer .connectlbformHeadTxt{
	font-size:18px;
	color:#0175b2;
	line-height:22px;
	max-width:500px;
}

.ConnectContainer .connectformItems{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:572px;
	height:100%;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.ConnectContainer .connectformItems1{
	float:left;
	margin-left:15px;
	margin-top:15px;
	margin-right:15px;
}
.ConnectContainer .connectformItems2{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:560px;
	height:100%;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}
.ConnectContainer .connectformItems ul{

	margin:0;
	padding-left:20px;
	
}

.ConnectContainer .connectfloatLeft{
	float:left;
	width:100%;
}

.ConnectContainer .connectuserHello{
	font-size:24px;
	color:#585858;
	line-height:24px;
}

.ConnectContainer .connectuserTitle{
	font-size:24px;
	color:#0175b2;
}


.ConnectContainer .connectpadding20px{
	height:20px;
	float:left;
	width:100%;
}
.ConnectContainer .connectpadding24px{
	height:24px;
	float:left;
	width:100%;
}
.ConnectContainer .connectpadding15px{
	height:15px;
	float:left;
	width:100%;
}
.ConnectContainer .connectpadding10px{
	height:10px;
	float:left;
	width:100%;
}
.ConnectContainer .connectpadding5px{
	height:5px;
	float:left;
	width:100%;
}

.ConnectContainer .connecthelp{
	font-size:11px;
	color:#0175b2;
	padding-left:10px;
	border:none;
	vertical-align:top;
}

.ConnectContainer .connectprogTxt{
	padding-top:3px;
	padding-bottom:10px;
	font-weight:bold;
}

.ConnectContainer .connectprogTxtComplete{
	font-size:14px;
	color:#339933;
}

.ConnectContainer .connectprogPercent{
	font-size:14px;
	color:#0175b2;
}

.ConnectContainer .connecthdr_21pxGrey_line{
	font-size:21px;
	color:#797979;
	padding:12px 0 6px 0;
	width:100%;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:15px;
	float: left;
	display:block;
	line-height:20px;
}

.ConnectContainer .connecthr_dotline2{
	width:100%;
	height:1px;
	background:url(images/hr_dotline.gif) repeat-x;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
}

.ConnectContainer .connectfieldMsgs{
	width:100%;
	vertical-align:top;
	padding-left:10px;
	padding-top:3px;
	max-width:100px;
}

.ConnectContainer .connectformDesc{
	font-size:11px;
	vertical-align:top;
	line-height:12px;
	color:#909090;
	padding-top:2px;
	padding-bottom:2px;
}

.ConnectContainer .connectlbformRight{
	float:left;
	width:246px;
	margin-left:20px;
	margin-right:6px;
}

.ConnectContainer .connectlbformRight a{
	color:#0175b2;
}

.ConnectContainer .connectformRight{
	float:right;
	width:280px;
}

.ConnectContainer .connectlbHead{
	font-size:14px;
	color:#585858;
	line-height:normal;
	font-weight:bold;
	letter-spacing:-0.2px;
}

.ConnectContainer .connectlbHeadBlue{
	font-size:14px;
	color:#0175b2;
	line-height:normal;
}

.ConnectContainer .connectblueSep{
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	color:#afafaf;
}

.ConnectContainer .connectreqField{
	vertical-align:top;
	font-size:12px;
	font-weight:normal;
	color:#d50000;
	float:left;
}

.ConnectContainer .connecthrSolid{
	background:url(../Connect/images/1x1_grey.gif) repeat-x;
	height:1px;
	width:100%;
	margin:10px 0 12px;
	float:left;
}
.ConnectContainer .connecthrSolidBlue{
	background-color:#a0cbe2;
	height:2px;
	width:100%;
	margin:0 0 15px 0;
	float:left;
}

.ConnectContainer .connectnewsLlogo{
	width:90px;
	float:left;
	vertical-align:middle;
	padding:2px;
}

.ConnectContainer .connectnewsLcheck{
	width:32px;
	float:left;
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
	padding-left:10px;
}

.ConnectContainer .connectcheckBoxes{
	padding:3px;
	background-color:#d9d9d9;
	max-width:14px;
	margin:0px;
	display:block;
}

.ConnectContainer .connectnewsLdesc{
	max-width:400px;
	float:left;
	font-size:12px;
	line-height:normal;
	padding-left:10px;
}

.ConnectContainer .connecthr_dotline1{
	width:100%;
	height:1px;
	background:url(images/hr_dotline.gif) repeat-x;
	float:left;
	margin-bottom:5px;
	margin-top:6px;
}

.ConnectContainer .connecterrorTxt{
	color:#c30101;
	width:100%;
	margin:0px 0px 0px 10px;
	font-size:12px;
}

.ConnectContainer .connectformThnx{
	text-align:center;
	vertical-align:top;
	color:#5c5c5c;
	padding:20px;
	width:100%;
}

.ConnectContainer .connectlbformItems{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	width:350px;
	min-height:320px;
	padding-right:20px;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
}

.ConnectContainer .connectlightBox{
	float:left;
	padding:10px;
	background: url(images/lbBg.png) right center transparent repeat;
}

.ConnectContainer .connectformTitleText{
	font-family:arial;
	font-size:20px;
	color:#686868;
	line-height:23px;
}

.ConnectContainer .connectborderDiv {
	border:1px solid #b7b7b7;
	width:100%;
	float:left;
}

.ConnectContainer .connectlb ul {list-style:square}
.ConnectContainer .connectlb li {margin-left:20px; list-style:outside}


.ConnectContainer .connectmedium
{
}

.ConnectContainer .connecterr
{
}

.ConnectContainer .connectlbformItemsPAY
{
    width: 560px;
}

.ConnectContainer .connectHeadBlue
{
}

.ConnectContainer .connectlbformThnxHead
{
}

.ConnectContainer .connectformLeft
{
}

.ConnectContainer .connectgreenTXT
{
}

/* classes related to Box office starts here */
.ConnectContainer .connectinfoBox{
	width:560px;
	padding:7px;
	margin:10px 0;
	color:#585858;
	float:left;
	background-color:#f5f5f5;
	border-bottom:1px solid #d6d6d6;
	border-top:1px solid #d6d6d6;
	font-weight:bold;
}

.ConnectContainer .connectuserBox{
    float:left;
	background-color:#fff;
	border:1px solid #188fc6;
	width:560px;
	height:100%;
	padding:7px;
	margin-bottom:15px;
	text-align:center;    
}

.ConnectContainer .connecttxt30px{
	font-size:30px;
	line-height:30px;
	font-weight:bold;
	color:#585858;
}

.ConnectContainer .connecttxt20px{
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#585858;
}



/* classes related to Box office end here */
.ConnectContainer .connectformHeadTxtNavigation {
color:#0175B2;
}
.ConnectContainer a.formHeadTxtNavigation {
font-size:15px;
font-weight:normal;
padding-left:6px;
padding-right:6px;
}
.ConnectContainer a.formHeadTxtActNavigation {
font-size:17px;
font-weight:bold;
padding-left:6px;
padding-right:6px;
}


/* box office & catup menu starts here*/

.ConnectContainer .connectformHdr{
	width:572px;
	padding:6px 20px 6px 20px;
	border-top:1px solid #0f70a4;
	border-right:1px solid #0f70a4;
	border-left:1px solid #0f70a4;
	float:left;
	color:#fff;
	background-color:#188fc6;
	font-size:15px;
	letter-spacing:-0.3px;
}

.ConnectContainer .connectformTabs{
	background-color:#f5f5f5;
	
	background:url(images/formTabBg.gif) repeat-x;
	border-left:1px solid #cfcfcf;
	border-right:1px solid #cfcfcf;
	width:572px;
	padding:4px 20px 0 20px;
	float:left;
	
}
.ConnectContainer .connectformTabs .tab_BO{
	width:80px;
	height:26px;
	background:url(images/connectTab_BO-on.gif) no-repeat;
	color:#585858;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:15px 0 0 10px;
}
.ConnectContainer .connectformTabs .tab_BO a{
	width:80px;
	height:26px;
	background:url(images/connectTab_BO-off1.gif) no-repeat top;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:12px 0 0 12px;
	margin:-10px 0 0 -12px;
}
.ConnectContainer .connectformTabs .tab_BO a:hover{
	width:80px;
	height:26px;
	background:url(images/connectTab_BO-off.gif) no-repeat bottom;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:10px 0 0 12px;
}

.ConnectContainer .connectformTabs .tab_CU{
	width:76px;
	height:26px;
	background:url(images/connectTab_CU-on.gif) no-repeat;
	color:#585858;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:15px 0 0 12px;
}
.ConnectContainer .connectformTabs .tab_CU a{
	width:76px;
	height:26px;
	background:url(images/connectTab_CU-off1.gif) no-repeat top left;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:12px 0 0 12px;
	margin:-10px 0 0 -12px;
}
.ConnectContainer .connectformTabs .tab_CU a:hover{
	width:76px;
	height:26px;
	background:url(images/connectTab_CU-off.gif) no-repeat bottom;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:10px 0 0 12px;
}


.ConnectContainer .connectformTabs .tab_OM{
	width:76px;
	height:26px;
	background:url(images/connectTab_OM-on.gif) no-repeat;
	color:#585858;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:15px 0 0 12px;
}
.ConnectContainer .connectformTabs .tab_OM a{
	width:76px;
	height:26px;
	background:url(images/connectTab_OM-off1.gif) no-repeat top left;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:12px 0 0 12px;
	margin:-10px 0 0 -12px;
}
.ConnectContainer .connectformTabs .tab_OM a:hover{
	width:76px;
	height:26px;
	background:url(images/connectTab_OM-off.gif) no-repeat bottom;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:10px 0 0 12px;
}
/* box office & catup menu ends here*/


/*---------- BASIC LISTING STYLES ------------*/
.ConnectContainer .connectbasList{
	float:left;
	margin-left:13px;
}
.ConnectContainer .connectbasList ul {margin: 0;padding: 0; list-style-type:disc;}
.ConnectContainer .connectbasList li {margin: 0;padding: 0;
}

/*---------- BASIC LISTING STYLES ------------*/


.ConnectContainer .connectformRight10pxMargin{
	margin:5px;
}

/*---- Header Form-------*/
.ConnectContainer #headContainer{
    position: relative;
	width:980px;
	margin: 0 auto;
	
}
.ConnectContainer #headContainer a.dstvLogo {
  position: absolute;
  z-index:2000;
}
.ConnectContainer #headContainer a.dstvLogo img {
  border-style: none;
  z-index:2000;
}
.ConnectContainer #floatLogo {
  top: 10px;
  left: 843px;
  z-index:2000;
}
	
.ConnectContainer .global_header{
	width:100%;	
}
.ConnectContainer .global_header .headerContent {
	width:980px;
	height:118px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	background:url(images/headerbg.jpg) no-repeat top;
}


.ConnectContainer .connectglobal_wrapper{
	width:980px;
	margin:0 auto;
	position: relative;
	padding: 0;
}

.ConnectContainer .connecterrBg{
	background: url(images/error_general_03.jpg) no-repeat;
	height:318px;
	width:980px;
}

.ConnectContainer .connecterrDisplay {
	padding-left:385px;
	padding-top:80px;
	max-width:505px;
	width:505px;
	float:left;
}

.ConnectContainer .connecterrMsg{
	font-size:16px;
	color:#fff;
	font-weight:normal;
}
.ConnectContainer .connecterrTxt{
	font-size:12px;
	color:#fff;
	font-weight:normal;
}


.ConnectContainer a.smlLink{
	font-family:arial;
	font-size:11px;
	font-weight:normal;
	color:#0175b2;
}
.ConnectContainer .blueSep{
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	color:#0175b2;
}
.ConnectContainer .userName{
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	color:#444444;
}

.ConnectContainer a {
	font-size:12px;
	color:#0175b2;
	text-decoration:none;
	cursor:pointer;
}
.ConnectContainer a:hover {
	color:#0175b2;
	text-decoration:underline;
}

.ConnectContainer .dd{
	background:url(images/BB_search_bg.jpg) repeat-y;
	width:590px;
	padding:0 15px 15px 15px;
	color:#fff;
}
.ConnectContainer .dd .dd_logo{
	width:145px;
	height:40px;
	float:left;
}
.ConnectContainer .dd .dd_icons{
	float:right;
	width:323px;
	border-bottom:1px solid #fff;
	padding:7px 0 7px 120px;
	text-align:right;
}
.ConnectContainer .dd_icons a{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}
.ConnectContainer .dd_icons a:hover{
	color:#fff;
	font-size:11px;
	font-weight:bold;
	text-decoration: underline;
}
.ConnectContainer .dd .dd_dropDown{
	border:1px solid #125b89;
	display:block;
	color:#000;
	width:140px;
}
.ConnectContainer .dd .searchInput{
	width:180px;
	border:1px solid #125b89;
	color:#000;
	height:15px;
	margin-left:24px;
}
.ConnectContainer .tabs {
	width:100%;
	background-image: none;	padding: 0; 
	clear:both;
	overflow:hidden;
	background-color:#0298b9;
	float:left;
}
.ConnectContainer .tabs ul {margin: 0;padding: 0;list-style-type: none;}
.ConnectContainer .tabs li {margin: 0;padding: 0;float: left;}
.ConnectContainer .tabs li {background:#fff none;text-align: center;}
.ConnectContainer .tabs a.up {
	display: block;
	background-color:#f5f5f5;
	padding: 7px 11px 8px 11px;
	color:#000;
	font-size:12px;
	text-decoration:none;
	border-top:3px solid #fff;
	font-weight:normal;
}
.ConnectContainer .tabs a.down {	
	display: block;
	background-color:#0298b9;
	padding: 9px 11px 8px 11px;
	background-repeat: repeat-x;
	color:#FFF;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}
.ConnectContainer .tabs a.down:hover {
	background-color: #026f92;
	text-decoration:none;
}

.ConnectContainer ul{
	margin:0;
}

.ConnectContainer ul.container{
	width:620px;
	margin:0 auto;
}
.ConnectContainer .formError{
	vertical-align:top;
	font-size:11px;
	font-weight:normal;
	color:#d50000;
}
.ConnectContainer .available
{
  	vertical-align:top;
	font-size:12px;
	font-weight:normal;
	color:#00b715;  
}
.ConnectContainer .help{
	font-size:11px;
	color:#0175b2;
	padding-left:10px;
}
.ConnectContainer .formThnx{
	text-align:center;
	vertical-align:top;
	color:#5c5c5c;
	padding:20px;
	width:100%;
}
.ConnectContainer .formThnxHead{
	color:#0175b2;
	font-size:20px;
	font-weight:bold;
	padding:10px;
	width:100%;
}

.ConnectContainer .padding20 {
	padding:20px;
}
.ConnectContainer .prMenu {
	width:382px;
	float:left;
	
}
.ConnectContainer .prMenuItem {
	vertical-align:top;
	text-align:center;
	color:#0175b2;
	float:left;
	padding-left:2px;
	padding-right:3px;
}
.ConnectContainer .prMenuItem a.menuActive {
	font-size:16px;
	font-weight:normal;
	color:#585858;
}
.ConnectContainer .prMenuItem a:hover.menuActive {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.ConnectContainer .prMenuItem a.menuInactive {
	font-size:16px;
	font-weight:normal;
	color:#0175b2;
}
.ConnectContainer .prMenuItem a:hover.menuInactive {
	font-size:16px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}

.ConnectContainer h1{       							
	font-size:21px;
	color:#686868;
	font-weight:normal;
	margin:0 6px 0px 0;
	float:left;
	line-height:18px;
	letter-spacing:-0.5px;
}
.ConnectContainer h2{       							 /* 18px Grey */
	font-size:18px;
	color:#686868;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	line-height:17px;
	letter-spacing:-0.5px;
}
.ConnectContainer h3{       							 /* 16px Dark Grey */
	font-size:16px;
	color:#686868;
	font-weight:normal;
	margin:0 15px 0 0;
	float:left;
	padding:3px 0;
	line-height:16px;
}
.ConnectContainer .hrSolid{
	background:url(../DSTV/images/1x1_grey.gif) repeat-x;
	height:1px;
	width:100%;
	margin:10px 0 12px;
	float:left;
}
.ConnectContainer .errorTxt{
	color:#c30101;
	float:left;
	width:100%;
	margin:5px 0;
}

.ConnectContainer, .hotspot, #tt, #tttop, #ttcont, #ttbot {
	margin:0 0 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#afafaf;
	line-height:15px;
	text-align:left;
}


.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer; z-index:2000;}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat; z-index:2000;}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden; z-index:2000;}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF; z-index:2000;}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden; z-index:2000;}

/* Country Light box functions
*/

.ConnectContainer .connectCountryBox{
	background-color:#f7f8fa;
	border:10px solid #666;
	padding:10px;
	display:block;
	margin:0 auto;
	overflow:hidden;
	width:300px;
	
}


.ConnectContainer .connectCountryBg{
	float:left;
	background-color:#fff;
	border:1px solid #d0d0d0;
	padding-right:20px;
	padding-left:-500px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}


.ConnectContainer .connectCountrylightBox{
	background: url(images/lbBg.png) right center transparent repeat;
	z-index:9999;
	position:fixed;
	margin:0 auto;
	width:100%;
	height:100%;
	display:inline;
	padding-top:100px;
	left : 0px;
	top : 0px;
}