﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Advert.ascx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.UserControls.Content.Advert" %>
<div class="topList">

<img src="/tmp/Images/DStvOnlineControls/ad300x250.jpg" title="// TODO: DStv Online Team" alt="// TODO: DStv Online Team" style="border-style:none;" />

</div>
<div class="padding10px"></div>
<div class="padding20px"></div>
