﻿<%@ Page Title="Profile" Language="C#" MasterPageFile="~/MasterPages/TitleAndContent.master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.MyProfile" %>
<%@ Register Src="~/Controls/AccountPane.ascx" TagPrefix="uc1" TagName="MyProfile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphTitle" runat="server">
Profile
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <uc1:MyProfile ID="MyProfile1" runat="server" />
</asp:Content>
