﻿<%@ Page Title="Billboard Feeds" Language="C#" AutoEventWireup="true" CodeBehind="Billboard.aspx.cs" Inherits="Dstv.Online.VideoOnDemand.Website.Feeds.Billboard" %>
<%--this page will create billboardfeeds based on a Ondemand product id
This id is defined in the ondemand 2010Database
Desmond Nzuza
30 - Sep - 2010
--%>

<%@ OutputCache Duration="600" VaryByParam="*"%>